<template>
  <div id="seasonal-data">
    <v-layout row wrap align-center>  <!-- justify-center align-center -->
      <v-flex xs12>
        <v-data-table v-bind:headers="headers" :items="items" hide-actions class="elevation-1" >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.level }}</td>
            <td>{{ props.item.sublevel }}</td>
            <td>{{ props.item.value }}</td>
            <td>{{ props.item.year }}</td>
            <td>{{ props.item.month }}</td>
            <td>{{ props.item.cdate }}</td>
            <td>{{ props.item.ctime }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from 'axios'
import iziToast from 'iziToast'
import swal from 'sweetalert2'

export default {
  name: 'seasonal-data',
  data() {
    return {
      // Product Data
      items: [],
      // Table
      headers: [
        { text: 'Level', align: 'left', value: 'level' },
        { text: 'Sub Level', align: 'left', value: 'sublevel' },
        { text: 'Value', align: 'left', value: 'value' },
        { text: 'Year', align: 'left', value: 'year' },
        { text: 'Month', align: 'left', value: 'month' },
        { text: 'Date', align: 'left', value: 'date' },
        { text: 'Time', align: 'left', value: 'time' }
      ],
      // Items for select
      months: [
        { name: 'ม.ค.', value: '1' },
        { name: 'ก.พ.', value: '2' },
        { name: 'มี.ค.', value: '3' },
        { name: 'เม.ย.', value: '4' },
        { name: 'พ.ค.', value: '5' },
        { name: 'มิ.ย.', value: '6' },
        { name: 'ก.ค.', value: '7' },
        { name: 'ส.ค.', value: '8' },
        { name: 'ก.ย.', value: '9' },
        { name: 'ต.ค.', value: '10' },
        { name: 'พ.ย.', value: '11' },
        { name: 'ธ.ค.', value: '12' }
      ],
      weeks: [0, 1, 2, 3, 4, 5],
      days: [0, 1, 2, 3, 4, 5, 6, 7]
    }
  },
  props: {
    productid: {
      type: String,
      required: true,
      validate: function(value) {
        return ['syncing', 'synced', 'version-conflict', 'error'].indexOf(value) !== -1
      }
    }
  },
  watch: {
    // When Search bar chanage
    productid: function() {
      if (this.productid.length == 0) {
        this.items = []
      } else {
        this.getProductCalendar()
      }
    }
  },
  methods: {
    getProductCalendar: function() {
      let that = this
      axios
        .get('https://api.techfarmth.com/intranet-portal/getProductCalendar/' + this.productid)
        .then(function(response) {
          if (response.data) {
            that.items = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getLevel: function() {
      let that = this
      axios
        .get('https://api.techfarmth.com/intranet-portal/getLevel')
        .then(function(response) {
          if (response.data) {
            that.levels = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getSubLevelBy: function(lvid) {
      let that = this
      axios
        .get('https://api.techfarmth.com/intranet-portal/getSubLevelBy/id/' + lvid)
        .then(function(response) {
          if (response.data) {
            that.levelsSub = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getValueStandardBy: function(slvid) {
      let that = this
      axios
        .get('https://api.techfarmth.com/intranet-portal/getValueStandardBy/slvid/' + slvid)
        .then(function(response) {
          if (response.data) {
            that.valueStandard = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    doSubmit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          let that = this
          const data = {
            productid: this.productid,
            year: this.itemAdd.year,
            month: this.itemAdd.month,
            week: this.itemAdd.week,
            day: this.itemAdd.day,
            date: this.itemAdd.date,
            time: this.itemAdd.time,
            vlvid: this.itemAdd.vlvid
          }
          axios
            .post('https://api.techfarmth.com/intranet-portal/insertProductCalendar', data)
            .then(function(response) {
              if (response.data) {
                that.dialogItem = false
                iziToast.success({
                  title: 'Success',
                  message: 'Product calendar has been created',
                  position: 'topRight',
                  timeout: 1500,
                  onClosed: function() {
                    console.log(response.data.message)
                    // Clear input
                    that.lvid = null
                    that.slvid = null
                    that.itemAdd.vlvid = null
                    that.itemAdd.year = 0
                    that.itemAdd.month = 0
                    that.itemAdd.week = 0
                    that.itemAdd.day = 0
                    that.itemAdd.date = 0
                    that.itemAdd.time = null
                  }
                })
              } else {
                iziToast.error({
                  title: 'Failed',
                  message: 'Something worng!',
                  position: 'topRight',
                  timeout: 1500,
                  onClosed: function() {}
                })
              }
            })
            .catch(function(error) {
              console.log(error)
            })
        } else {
          iziToast.error({
            title: 'Error',
            message: 'please enter input field',
            position: 'topRight',
            timeout: 1500
          })
        }
      })
    },
    deleteItem: function(item) {
      swal({
        title: 'Are you sure Delete?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          axios
            .delete('https://api.techfarmth.com/intranet-portal/deleteProductCalendar/' + item.pcid)
            .then(response => {
              // console.log(response.status); // ex.: 200
              swal({
                title: 'Deleted! item has been deleted',
                type: 'warning'
              })
              // call product calendar again
              this.getProductCalendar()
            })
            .catch(e => {
              this.errors.push(e)
            })
        } else if (result.dismiss === 'cancel') {
          swal({
            title: 'Cancelled item is safe :)',
            type: 'error'
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
