<template>
  <div id="seasonal-visualize">
    <v-container fluid>
    <v-layout row wrap align-center>  <!-- justify-center align-center -->
      <v-flex xs12 class="mb-2" text-xs-right>
        <v-icon medium color="lime">fiber_manual_record</v-icon>
        มีผลผลิต
        <v-icon medium color="light-green">fiber_manual_record</v-icon>
        มีผลผลิตสูงสุด
      </v-flex>
      <v-flex xs12 text-xs-center>
        <v-data-table
          :headers="headers"
          :items="years"
          hide-actions
          class="elevation-1"
          >
          <template slot="items" slot-scope="props">
            <tr>
              <td>{{ props.item }}</td>
              <td v-for="headerMonth in headersMonth">
                <span v-for="month in months" >
                  <v-icon medium v-if="headerMonth==month.month && props.item==month.year" :color="month.color">fiber_manual_record</v-icon>
                </span>                
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'seasonal-visualize',
  data() {
    return {
      years: [],
      months: [],
      headersMonth: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      headers: [
        { text: 'ปีที่', align: 'left', sortable: false, value: 'years' },
        { text: 'ม.ค.', align: 'center', sortable: false, value: '1' },
        { text: 'ก.พ.', align: 'center', sortable: false, value: '2' },
        { text: 'มี.ค.', align: 'center', sortable: false, value: '3' },
        { text: 'เม.ย.', align: 'center', sortable: false, value: '4' },
        { text: 'พ.ค.', align: 'center', sortable: false, value: '5' },
        { text: 'มิ.ย.', align: 'center', sortable: false, value: '6' },
        { text: 'ก.ค.', align: 'center', sortable: false, value: '7' },
        { text: 'ส.ค.', align: 'center', sortable: false, value: '8' },
        { text: 'ก.ย.', align: 'center', sortable: false, value: '9' },
        { text: 'ต.ค.', align: 'center', sortable: false, value: '10' },
        { text: 'พ.ย.', align: 'center', sortable: false, value: '11' },
        { text: 'ธ.ค.', align: 'center', sortable: false, value: '12' }
      ],
      items: []
    }
  },
  props: {
    productid: {
      type: String,
      required: true,
      validate: function(value) {
        return ['syncing', 'synced', 'version-conflict', 'error'].indexOf(value) !== -1
      }
    },
  },
  watch: {
    // When Search bar chanage
    productid: function() {
      if (this.productid.length != 0) {
        this.months = []
        this.years = []
        this.getMonth()
        this.getYear()
      }
    }
  },
  methods: {
    getYear: function() {
      let that = this
      axios
        .get('https://api.techfarmth.com/intranet-portal/getYear/' + this.productid)
        .then(function(response) {
          if (response.data) {
            response.data.forEach(element => {
              that.years.push(element.year)
              // that.items.push({year: element.year})
            })
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getMonth: function() {
      let that = this
      axios
        .get('https://api.techfarmth.com/intranet-portal/getMonth/' + this.productid)
        .then(function(response) {
          if (response.data) {
            response.data.forEach(element => {
              that.months.push(element)
              // that.items.push({month: element})
            })
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
