<template>
  <div id="product-history">
    <v-container fill-height fluid grid-list-xs>
      <v-layout row wrap align-center>
        <v-flex xs12 text-xs-center>
          <h1 class="headline my-4">ประวัติ</h1>
        </v-flex>
         <v-flex xs12 text-xs-center>
           <div style="height:200px"></div>
        </v-flex>
        <v-flex xs12>
          <div style="height: 50px; position: relative">
            <v-btn
              absolute
              dark
              fab
              top
              left
              color="blue darken-3"
            >
              <v-icon>today</v-icon>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'product-history',
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>