<template>
  <div id="product-day">
    <v-container fluid >
      <v-layout row wrap align-center v-for="product in products" :key="product.productid">
        <v-flex xs12 text-xs-center>
          <h1 class="title my-4">สถานะการเพาะปลูก : {{product.sublevelstatus}}</h1>
        </v-flex>
        <v-flex xs12 sm4 md6 text-xs-center>
          <img :src="product.iconprofile" height="150px"></img>
          <!-- <img style="width: 450px;" src="../../assets/LenDin_Pic.jpg" alt="marketpalce"> -->
        </v-flex>        
         <v-flex xs12 sm8 md6 text-xs-center>
          <canvas style="background-color:#e1e2e6" id="canvasNitrogen" width="100" height="200"></canvas>
          <canvas style="background-color:#e1e2e6" id="canvasPhosphorus" width="100" height="200"></canvas>
          <canvas style="background-color:#e1e2e6" id="canvasPotassium" width="100" height="200"></canvas>
        </v-flex>
        <v-flex xs12 sm4 md4>
          {{ph}} pH
          <v-progress-linear v-model="ph" height="20" color="red"></v-progress-linear>
          <div class="caption">pH</div>
        </v-flex>
        <v-flex xs12 sm4 md4>
          {{temperature}}  ํC
          <v-progress-linear v-model="temperature" height="20" color="orange"></v-progress-linear>
          <div class="caption">Temperature</div>
        </v-flex>
        <v-flex xs12 sm4 md4>
          {{moisture}} %
          <v-progress-linear v-model="moisture" height="20" color="light-blue"></v-progress-linear>
          <div class="caption">Moisture</div>
        </v-flex>
        <v-flex xs12>
          <div style="height: 50px; position: relative">
            <v-btn
              absolute
              dark
              fab
              top
              right
              color="green darken-3"
              @click.stop="dialogItem = true"
            >
              <v-icon>edit</v-icon>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Dialog Item -->
    <v-dialog v-model="dialogItem" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">บันทึกผลตรวจสอบคุณภาพ</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
               <v-flex xs12>
                <!-- Sub Level -->
                <v-select 
                  :items="subLevels" 
                  v-model="formData.sublevelstatus" 
                  label="สถานะการปลูก" 
                  item-text="nametha" 
                  item-value="nametha" 
                  v-validate="'required'" 
                  :error-messages="errors.collect('plantdate')" 
                  data-vv-name="plantdate"
                  >
                </v-select>
              </v-flex>
              <v-flex xs12>
                <!-- Nitrogen -->
                <v-text-field 
                  v-model="formData.nitrogen"
                  label="ไนโตรเจน (Nitrogen)"
                  v-validate="'required|decimal'"
                  :error-messages="errors.collect('nitrogen')" 
                  data-vv-name="nitrogen" 
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Phosphorus -->
                <v-text-field 
                  v-model="formData.phosphorus"
                  label="ฟอสฟอรัส (Phosphorus)"
                  v-validate="'required|decimal'"
                  :error-messages="errors.collect('phosphorus')" 
                  data-vv-name="phosphorus" 
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Potassium -->
                <v-text-field 
                  v-model="formData.potassium"
                  label="โพแทสเซียม (Potassium)"
                  v-validate="'required|decimal'"
                  :error-messages="errors.collect('potassium')" 
                  data-vv-name="potassium" 
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- pH -->
                <v-text-field 
                  v-model="formData.ph"
                  label="ค่าความเป็นกรด / ด่าง (pH)"
                  v-validate="'required|decimal'"
                  :error-messages="errors.collect('ph')" 
                  data-vv-name="ph" 
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Temperature -->
                <v-text-field 
                  v-model="formData.temperature"
                  label="อุณหภูมิ (Temperature)"
                  v-validate="'required|decimal'"
                  :error-messages="errors.collect('temperature')" 
                  data-vv-name="temperature" 
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Moisture -->
                <v-text-field 
                  v-model="formData.moisture"
                  label="ความชื้น (Moisture)"
                  v-validate="'required|decimal'"
                  :error-messages="errors.collect('moisture')" 
                  data-vv-name="moisture" 
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn dark color="red darken-1" @click.native="dialogItem = !dialogItem">ยกเลิก</v-btn>
              <v-btn dark color="green darken-1" @click.native="doSubmit" :loading="dialogLoading">บันทึกข้อมูล</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from 'axios' // HTTP client
import iziToast from 'iziToast' // Alert css

export default {
  name: 'product-day',
  data() {
    return {
      // Data mockup
      ph: 40,
      temperature: 67,
      moisture: 80,
      // Dialog
      dialogItem: false,
      // Data item
      formData: [],
      // Select
      subLevels: [],
      // loading
      dialogLoading: false,
      // canvas
      canvas: [],
      context: []
    }
  },
  props: {
    products: {
      type: Array,
      required: true,
      validate: function(value) {
        return ['syncing', 'synced', 'version-conflict', 'error'].indexOf(value) !== -1
      }
    }
  },
  created() {
    this.getSubLevel()
  },
  mounted() {
    this.createCanvasNitrogen()
    this.createCanvasPhosphorus()
    this.createCanvasPotassium()
  },
  methods: {
    createCanvasNitrogen: function() {
      // this.canvas = this.$refs.canvas
      let canvas = document.getElementById('canvasNitrogen')
      this.ctx = canvas.getContext('2d')

      // Garph
      let max = 100 // data from db
      let min = 10 // data from db
      let val = 80 // ค่าที่ได้

      // Text
      this.ctx.fillStyle = 'black'
      this.ctx.save()
      this.ctx.translate(40, 0)
      this.ctx.font = '20px Kanit'
      this.ctx.fillText(val, 0, 20)
      this.ctx.restore()

      // set max
      let setMax = max / max * 100
      // set min
      let setMin = min / max * 100
      // set val
      let setVal = (val - min) * 100 / (max - min)
      console.clear()
      console.log('min: ' + min)
      console.log('max: ' + max)
      console.log('input: ' + val)
      console.log('value: ' + setVal)

      let sum = 0

      if (setVal <= 0) {
        sum = 100
        // set color graph
        this.ctx.fillStyle = 'red'
      } else if (setVal >= 100) {
        sum = 0
        // set color graph
        this.ctx.fillStyle = 'red'
      } else {
        sum = 100 - setVal
        // set color graph
        this.ctx.fillStyle = '#5D4F4E'
      }

      // วาดสี่เหลี่ยม Rectangle (x, y, width, height)
      // โดยแกน x,y จะนับจากมุมบนซ้ายเป็นจุด 0, 0
      this.ctx.fillRect(0, sum, 200, 200)
    },
    createCanvasPhosphorus: function() {
      // this.canvas = this.$refs.canvas
      let canvas = document.getElementById('canvasPhosphorus')
      this.ctx = canvas.getContext('2d')

      let max = 100 // data from db
      let min = 10 // data from db
      let val = 20 // ค่าที่ได้

      // set max
      let setMax = max / max * 100
      // set min
      let setMin = min / max * 100
      // set val
      let setVal = (val - min) * 100 / (max - min)
      console.clear()
      console.log('min: ' + min)
      console.log('max: ' + max)
      console.log('input: ' + val)
      console.log('value: ' + setVal)

      let sum = 0

      if (setVal <= 0) {
        sum = 100
        // set color graph
        this.ctx.fillStyle = 'red'
      } else if (setVal >= 100) {
        sum = 0
        // set color graph
        this.ctx.fillStyle = 'red'
      } else {
        sum = 100 - setVal
        // set color graph
        this.ctx.fillStyle = '#5D4F4E'
      }

      // วาดสี่เหลี่ยม Rectangle (x, y, width, height)
      // โดยแกน x,y จะนับจากมุมบนซ้ายเป็นจุด 0, 0
      this.ctx.fillRect(0, sum, 200, 200)
    },
    createCanvasPotassium: function() {
      // this.canvas = this.$refs.canvas
      let canvas = document.getElementById('canvasPotassium')
      this.ctx = canvas.getContext('2d')

      let max = 100 // data from db
      let min = 10 // data from db
      let val = 50 // ค่าที่ได้

      // set max
      let setMax = max / max * 100
      // set min
      let setMin = min / max * 100
      // set val
      let setVal = (val - min) * 100 / (max - min)
      console.clear()
      console.log('min: ' + min)
      console.log('max: ' + max)
      console.log('input: ' + val)
      console.log('value: ' + setVal)

      let sum = 0

      if (setVal <= 0) {
        sum = 100
        // set color graph
        this.ctx.fillStyle = 'red'
      } else if (setVal >= 100) {
        sum = 0
        // set color graph
        this.ctx.fillStyle = 'red'
      } else {
        sum = 100 - setVal
        // set color graph
        this.ctx.fillStyle = '#5D4F4E'
      }

      // วาดสี่เหลี่ยม Rectangle (x, y, width, height)
      // โดยแกน x,y จะนับจากมุมบนซ้ายเป็นจุด 0, 0
      this.ctx.fillRect(0, sum, 200, 200)
    },
    getSubLevel: function() {
      let that = this
      axios
        .get('https://api.techfarmth.com/intranet-portal/getSubLevelBy/id/LV02')
        .then(function(response) {
          if (response.data) {
            that.subLevels = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    doSubmit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // Enable loading button
          this.dialogLoading = !this.dialogLoading

          let that = this
          const data = {
            nitrogen: this.formData.nitrogen,
            phosphorus: this.formData.phosphorus,
            potassium: this.formData.potassium,
            ph: this.formData.ph,
            temperature: this.formData.temperature,
            moisture: this.formData.moisture,
            sublevelstatus: this.formData.sublevelstatus,
            createby: this.$session.get('username') // Only create mode
          }
          alert('Done, see data in console')
          console.log(data)
          this.dialogLoading = !this.dialogLoading
          this.dialogItem = !this.dialogItem
          // axios
          //   .post('https://api.farmerspace.co/marketplace/insertProduct', data)
          //   .then(function(response) {
          //     if (response.data) {
          //       if (response.data.message === true) {
          //         that.dialogLoading = !that.dialogLoading
          //         that.dialogItem = !that.dialogItem
          //         that.formData = []
          //         // Alert success login
          //         iziToast.success({
          //           title: 'Congrats',
          //           message: 'Product has been created!',
          //           position: 'bottomRight',
          //           onClosed: function() {}
          //         })
          //       } else {
          //         that.dialogLoading = !that.dialogLoading
          //         iziToast.warning({
          //           title: response.data.message,
          //           position: 'bottomRight',
          //           timeout: 2500,
          //           onClosed: function() {}
          //         })
          //       }
          //     } else {
          //       that.dialogLoading = !that.dialogLoading
          //       iziToast.error({
          //         title: 'Error',
          //         message: ', Problem from backend side',
          //         position: 'bottomRight',
          //         timeout: 2500,
          //         onClosed: function() {}
          //       })
          //     }
          //   })
          //   .catch(function(error) {
          //     console.log(error)
          //     that.dialogLoading = !that.dialogLoading
          //   })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.progress-linear {
  border-radius: 10px;
}
.progress-linear__bar__determinate {
  border-radius: 10px;
}
.progress-linear__background {
  background-color: #e1e2e6 !important;
}
</style>