<template>
<div id="quotaion">
  <v-container grid-list-xl>
    <v-layout row wrap align-center>  <!-- justify-center align-center -->
      <v-flex xs6>
        <h1 class="display-1">รายการเสนอซื้อ</h1>
      </v-flex>
      <v-flex xs6 text-xs-right>
        <v-btn
          dark
          left
          color="green accent-4"
          @click.stop="addItem"
          >
          <v-icon class="mr-1">add</v-icon>
           สร้างใบเสนอซื้อ
        </v-btn>
      </v-flex>
      <v-flex xs12>
        <!-- Tabs -->
        <v-tabs fixed grow>
          <!-- Header Tabs  -->
          <v-tabs-bar>
            <v-tabs-slider color="green accent-4"></v-tabs-slider>
            <v-tabs-item
              v-for="i in headerTabs"
              :key="i"
              :href="'#' + i"
            >
              {{ i }}
            </v-tabs-item>
          </v-tabs-bar>
          <!-- Content Tabs  -->
          <v-tabs-items>
            <v-tabs-content v-for="item in headerTabs" :key="item" :id="item"> 
              <!-- Tabs Purchase -->
              <v-data-table v-if="item == 'รายการการเสนอราคา'" v-bind:headers="quotaionHeaders" :items="quotaion" expand class="elevation-1" >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.quotaionid }} </td>
                  <td>{{ props.item.status }} </td>
                  <td>{{ props.item.variety }} </td>
                  <td>{{ props.item.productname }} </td>
                  <td>{{ props.item.detail }} </td>
                  <td>{{ props.item.price }} </td>
                  <td>{{ props.item.harvestdate }} </td>
                  <td class="text-xs-center px-0">
                    <v-btn icon class="mx-0" @click="editItem(props.item)">
                      <v-icon color="teal">edit</v-icon>
                    </v-btn>
                  </td>
                  </template>
              </v-data-table>
              <!-- Tabs Purchase History -->
              <v-data-table v-else-if="item == 'ประวัติการซื้อ'" v-bind:headers="quotaionHistoryHeaders" :items="quotaionHistory" expand class="elevation-1" >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.quotaionid }} </td>
                  <td>{{ props.item.status }} </td>
                  <td>{{ props.item.variety }} </td>
                  <td>{{ props.item.productname }} </td>
                  <td>{{ props.item.detail }} </td>
                  <td>{{ props.item.price }} </td>
                  <td>{{ props.item.harvestdate }} </td>
                  </template>
              </v-data-table>
            </v-tabs-content>
          </v-tabs-items>
        </v-tabs>
      </v-flex>
    </v-layout>
  </v-container>
  <!-- Dialog Item -->
  <v-dialog v-model="dialogItem" fullscreen transition="dialog-bottom-transition" :overlay="false" scrollable>
    <v-card tile>
      <v-toolbar card dark color="green accent-4">
        <v-btn icon @click.native="dialogItem = false" dark>
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>สร้างใบเสนอซื้อ</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark flat @click.native="doSubmit" :loading="dialogLoading">บันทึกข้อมูล</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text>
        <v-container fluid>
          <v-layout row wrap>
            <!-- Left column -->
            <v-flex xs12 md6>
              <v-container grid-list-xl>
                <v-layout row wrap>
                  <v-flex xs12>
                    <!-- Product Name -->
                    <v-text-field 
                      label="ชื่อผลผลิต" 
                      v-validate="'required|max:30'" 
                      :counter="30" 
                      :error-messages="errors.collect('productname')" 
                      data-vv-name="productname"
                      v-model="formData.productname" 
                      >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <!-- Variety Name -->
                    <v-text-field 
                      label="สายพันธุ์" 
                      v-validate="'required|max:30'" 
                      :counter="30" 
                      :error-messages="errors.collect('variety')" 
                      data-vv-name="variety"
                      v-model="formData.variety" 
                      >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <!-- Detail Name -->
                    <v-text-field 
                      multi-line
                      label="รายละเอียด" 
                      hint="** โปรดให้รายละเอียดเพิ่มเติม อาทิ รูปแบบผลผลิต จุดเด่น มาตรฐานที่ได้รับรอง เป็นต้น"
                      persistent-hint
                      v-validate="'required|max:300'" 
                      :counter="300" 
                      :error-messages="errors.collect('detail')" 
                      data-vv-name="detail"
                      v-model="formData.detail" 
                      >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <!-- Price per kilogram -->
                    <v-text-field 
                      label="ราคา ต่อ กิโลกรัม" 
                      v-validate="'required|numeric'" 
                      :error-messages="errors.collect('price')" 
                      data-vv-name="price"
                      v-model="formData.price" 
                      >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <!-- Quantity -->
                    <v-text-field 
                      label="ปริมาณต่อการเก็บเกี่ยว (กิโลกรัม)" 
                      v-validate="'required|numeric'" 
                      :error-messages="errors.collect('quantity')" 
                      data-vv-name="quantity"
                      v-model="formData.quantity" 
                      >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <!-- Harvest Date -->
                    <v-menu 
                      lazy 
                      :close-on-content-click="false" 
                      v-model="menuHarvestDate" 
                      transition="scale-transition" 
                      offset-y 
                      full-width 
                      :nudge-right="40" 
                      max-width="290px" 
                      min-width="290px"
                      >
                      <v-text-field 
                        slot="activator" 
                        label="วันเริ่มปลูก" 
                        v-model="formData.harvestdate" 
                        prepend-icon="event"
                        readonly
                        >
                      </v-text-field>
                      <v-date-picker v-model="formData.harvestdate" no-title scrollable actions>
                        <template slot-scope="{ save, cancel }">
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                            <v-btn flat color="primary" @click="save">OK</v-btn>
                          </v-card-actions>
                        </template>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12>
                  
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
            <!-- Right column -->
            <v-flex xs12 md6>
              <purchase-map @getPosition="basePosition = $event"></purchase-map>
            </v-flex>            
          </v-layout>
        </v-container>
      </v-card-text>
      <div style="flex: 1 1 auto;" />
    </v-card>
  </v-dialog>
</div>
  
</template>

<script>
import axios from 'axios'
import iziToast from 'iziToast'
import PurchaseMap from '@/components/orders/purchases/PurchaseMap'

export default {
  name: 'quotaion',
  components: {
    'purchase-map': PurchaseMap
  },
  data() {
    return {
      headerTabs: ['รายการการเสนอราคา', 'ประวัติการซื้อ'],
      quotaionHeaders: [
        { text: '#', align: 'left', value: 'quotaionid' },
        { text: 'สถานะ', align: 'left', value: 'status' },
        { text: 'ประเภท', align: 'left', value: 'variety' },
        { text: 'สินค้า', align: 'left', value: 'productname' },
        { text: 'รายละเอียด', align: 'left', value: 'detail' },
        { text: 'บาท/กก.', align: 'left', value: 'price' },
        { text: 'ช่วงเวลา', align: 'left', value: 'harvestdate' },
        { text: '', align: 'center', sortable: false }
      ],
      quotaionHistoryHeaders: [
        { text: '#', align: 'left', value: 'quotaionid' },
        { text: 'สถานะ', align: 'left', value: 'status' },
        { text: 'ประเภท', align: 'left', value: 'variety' },
        { text: 'สินค้า', align: 'left', value: 'productname' },
        { text: 'รายละเอียด', align: 'left', value: 'detail' },
        { text: 'บาท/กก.', align: 'left', value: 'price' },
        { text: 'ช่วงเวลา', align: 'left', value: 'harvestdate' }
      ],
      quotaion: [
        {
          quotaionid: 'QTT000001',
          status: 'รอชำระเงิน',
          variety: 'ผัก',
          productname: 'กระเทียม',
          detail: 'กระเทียมจีนกลีบใหญ่ (ปอกเปลือก) 1 kg./pack',
          price: '41',
          quantity: '0',
          harvestdate: '20/07/2560'
        },
        {
          quotaionid: 'QTT000002',
          status: 'ดำเนินการ',
          variety: 'ผัก',
          productname: 'คอส',
          detail: 'คอส(ไม่มีราก) 500กรัม/แพ็ค 500 g./pack',
          price: '78',
          quantity: '0',
          harvestdate: '13/01/2561'
        }
      ],
      quotaionHistory: [
        {
          quotaionid: 'QTT000023',
          status: 'เสร็จสิ้น',
          variety: 'ผลไม้',
          productname: 'แก้วมังกร',
          detail: 'แก้วมังกร เนื้อสีขาว เบอร์ 22 - คัดเกรด ( 400-600 กรัม/ลูก) 1 kg./pack',
          price: '59',
          quantity: '0',
          harvestdate: '13/01/2560'
        },
        {
          quotaionid: 'QTT000030',
          status: 'เสร็จสิ้น',
          variety: 'ผลไม้',
          productname: 'ข้าวโพดหวาน',
          detail: 'ข้าวโพดหวานฝักดิบ - ปอกเปลือก (ประมาณ 3 ฝัก/kg.) 3 pcs./pack',
          price: '30',
          quantity: '0',
          harvestdate: '13/01/2560'
        }
      ],
      // Dialog
      dialogItem: false,
      dialogLoading: false,
      // Form data
      formData: [],
      // check mode edit
      editMode: false,
      // Data item
      items: [],
      // Date Picker
      menuPlantDate: false,
      // Position Product
      basePosition: {
        lat: 0,
        lng: 0
      },
      // Date Picker
      menuHarvestDate: false
    }
  },
  methods: {
    addItem: function() {
      this.editMode = false
      this.formData = []
      this.dialogItem = !this.dialogItem
    },
    editItem: function(item) {
      this.editMode = true
      this.formData = item
      this.dialogItem = !this.dialogItem
    },
    doSubmit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // enable loading type
          this.dialogLoading = !this.dialogLoading
          let that = this

          if (this.editMode === true) {
            // Update Mode
            const data = {
              quotaionid: this.formData.quotaionid,
              status: this.formData.status,
              variety: this.formData.variety,
              productname: this.formData.productname,
              detail: this.formData.detail,
              price: this.formData.price,
              harvestdate: this.formData.harvestdate
            }
            console.log(data)
            that.dialogLoading = !that.dialogLoading
            that.dialogItem = !that.dialogItem
            that.formData = []
            // Alert success login
            iziToast.info({
              title: 'Congrats',
              message: 'Quotaion order has been updated!',
              position: 'bottomRight',
              onClosed: function() {}
            })
            // axios
            //   .put('https://api.techfarmth.com/intranet-portal/updateTypes', data)
            //   .then(function(response) {
            //     if (response.data) {
            //       if (response.data.message === true) {
            //         that.dialogLoading = !that.dialogLoading
            //         that.dialogItem = !that.dialogItem
            //         that.formData = []
            //         // Alert success login
            //         iziToast.info({
            //           title: 'Congrats',
            //           message: 'Type has been updated!',
            //           position: 'bottomRight',
            //           onClosed: function() {}
            //         })
            //       } else {
            //         that.dialogLoading = !that.dialogLoading
            //         iziToast.warning({
            //           title: response.data.message,
            //           position: 'bottomRight',
            //           timeout: 2500,
            //           onClosed: function() {}
            //         })
            //       }
            //     } else {
            //       that.dialogLoading = !that.dialogLoading
            //       iziToast.error({
            //         title: 'Error',
            //         message: ', Problem from backend side',
            //         position: 'bottomRight',
            //         timeout: 2500,
            //         onClosed: function() {}
            //       })
            //     }
            //   })
            //   .catch(function(error) {
            //     console.log(error)
            //     that.dialogLoading = !that.dialogLoading
            //   })
          } else {
            // Create Mode
            const data = {
              quotaionid: this.formData.quotaionid,
              status: this.formData.status,
              variety: this.formData.variety,
              productname: this.formData.productname,
              detail: this.formData.detail,
              price: this.formData.price,
              harvestdate: this.formData.harvestdate,
              userid: this.$session.get('username') // Only create mode
            }
            console.log(data)
            that.dialogLoading = !that.dialogLoading
            that.dialogItem = !that.dialogItem
            that.formData = []
            // Alert success login
            iziToast.success({
              title: 'Congrats',
              message: 'Quotaion order has been created!',
              position: 'bottomRight',
              onClosed: function() {}
            })
            // axios
            //   .post('https://api.techfarmth.com/intranet-portal/insertTypes', data)
            //   .then(function(response) {
            //     if (response.data) {
            //       if (response.data.message === true) {
            //         that.dialogLoading = !that.dialogLoading
            //         that.dialogItem = !that.dialogItem
            //         that.formData = []
            //         // Alert success login
            //         iziToast.success({
            //           title: 'Congrats',
            //           message: 'New Type has been created!',
            //           position: 'bottomRight',
            //           onClosed: function() {}
            //         })
            //       } else {
            //         that.dialogLoading = !that.dialogLoading
            //         iziToast.warning({
            //           title: response.data.message,
            //           position: 'bottomRight',
            //           timeout: 2500,
            //           onClosed: function() {}
            //         })
            //       }
            //     } else {
            //       that.dialogLoading = !that.dialogLoading
            //       iziToast.error({
            //         title: 'Error',
            //         message: ', Problem from backend side',
            //         position: 'bottomRight',
            //         timeout: 2500,
            //         onClosed: function() {}
            //       })
            //     }
            //   })
            //   .catch(function(error) {
            //     console.log(error)
            //     that.dialogLoading = !that.dialogLoading
            //   })
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
