<template>
  <div id="user-profile">
    <v-container grid-list-xl class="px-5 py-5" v-for="user in userProfile" :key="user.userid">
      <v-layout row wrap justify-center align-center > <!--  justify-center  align-center -->
        <v-flex xs12>
          <div class="headline">ข้อมูลของคุณ</div>
        </v-flex>
        <!-- Picture Zone -->
        <v-flex xs12 sm3 md3 offset-md1 text-xs-center class="image-box" >
          <img class="edit-image" :src="user.picture ? user.picture : '/static/images/NoPicture.png'">
          <v-progress-linear :indeterminate="true" color="black" v-if="seen"></v-progress-linear>
          <div>
            <v-btn flat dark style="color:#72A9DB" class="body-1" @click="onPickFile">เปลี่ยนรูปภาพ</v-btn>
          </div>
        </v-flex>
        <!-- Detail Zone -->
        <v-flex xs12 sm9 md6 v-if="editMode === false" key="user-profile" class="ml-5">
          <!-- Name -->
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <div class="display-1">
                  {{ user.firstname }} {{ user.lastname }}
                </div>
                <div class="pt-2 pb-4">
                  <a style="color:#72A9DB" class="body-1" @click="onClickEditButton('editName')">แก้ไขชื่อ</a>
                </div>
              </v-flex>
            </v-layout>
          </v-container>          
          <!-- phone -->
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs1>
                <v-icon>phone</v-icon>
              </v-flex>
              <v-flex xs5>
                <div class="subheading">{{ user.phone }}</div>
              </v-flex>
              <v-flex xs4>
                <a style="color:#72A9DB" class="body-1" @click="onClickEditButton('editPhone')">แก้ไขเบอร์โทรศัพท์</a>
              </v-flex>                        
            </v-layout>
          </v-container>
          <!-- email -->
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs1>
                <v-icon>email</v-icon>
              </v-flex>
              <v-flex xs5>
                <div class="subheading">{{ user.email }}</div>
              </v-flex>
              <v-flex xs6>
                <a style="color:#72A9DB" class="body-1" @click="onClickEditButton('editEmail')">แก้ไขอีเมล์</a>
              </v-flex>                        
            </v-layout>
          </v-container>
          <!-- birthday -->
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs1>
                <v-icon>cake</v-icon>
              </v-flex>
              <v-flex xs5>
                <div class="subheading">{{ user.birthday }}</div>
              </v-flex>
              <v-flex xs6>
                <a style="color:#72A9DB" class="body-1" @click="onClickEditButton('editBirthday')">แก้ไขวันเกิด</a>
              </v-flex>                        
            </v-layout>
          </v-container>
          <!-- position -->
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs1>
                <v-icon>pin_drop</v-icon>
              </v-flex>
              <v-flex xs5>
                <div class="subheading">{{ user.province }}, {{ user.country }}</div>
              </v-flex>
              <v-flex xs6>
                <a style="color:#72A9DB" class="body-1" @click="onClickEditButton('editPosition')">แก้ไขที่อยู่</a>
              </v-flex>                        
            </v-layout>
          </v-container>
        </v-flex> 
                 
        <!-- Edit Mode Zone  -->
        <v-flex xs12 sm9 md8 v-else key="user-profile">
          <!-- edit name -->
          <div v-if="editName == true" key="user-profile-edit-mode">
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs6>
                  <!-- First Name -->
                  <v-text-field
                    v-model="user.firstname"
                    label="ชื่อ"
                    :error-messages="errors.collect('firstname')"
                    v-validate="'required'"
                    data-vv-name="firstname"
                    required
                    >
                  </v-text-field>
                </v-flex>
                <v-flex xs6>
                  <!-- Last Name -->
                  <v-text-field
                    v-model="user.lastname"
                    label="นามสกุล"
                    :error-messages="errors.collect('lastname')"
                    v-validate="'required'"
                    data-vv-name="lastname"
                    required
                    >
                  </v-text-field>
                </v-flex> 
                <v-flex xs12 class="pt-0">
                  <!-- Update profile -->
                  <v-btn 
                    depressed 
                    dark
                    color="light-blue" 
                    @click="doUpdateName()"
                    :loading="editModeLoading"
                  >
                    บันทึก
                  </v-btn>
                  <!-- Back To View Mode -->
                  <v-btn depressed dark color="grey" @click="onViewMode">ยกเลิก</v-btn>
                </v-flex>             
              </v-layout>
            </v-container>
          </div>
          <!-- edit phone -->
          <div v-else-if="editPhone == true" key="user-profile-edit-mode">
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs6>
                  <!-- Phone -->
                  <v-text-field
                    v-model="user.phone"
                    label="เบอร์โทรศัพท์"
                    :error-messages="errors.collect('phone')"
                    v-validate="'required|min:10|'"
                    data-vv-name="phone"
                    append-icon="phone"
                    mask="phone"
                    required
                    >
                  </v-text-field>
                </v-flex> 
                <v-flex xs12 class="pt-0">
                  <!-- Update profile -->
                  <v-btn 
                    depressed 
                    dark
                    color="light-blue" 
                    @click="doUpdatePhone()"
                    :loading="editModeLoading"
                  >
                    บันทึก
                  </v-btn>
                  <!-- Back To View Mode -->
                  <v-btn depressed dark color="grey" @click="onViewMode">ยกเลิก</v-btn>
                </v-flex>             
              </v-layout>
            </v-container>
          </div>
          <!-- edit email -->
          <div v-else-if="editEmail == true" key="user-profile-edit-mode">
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs6>
                  <!-- Email -->
                  <v-text-field
                    v-model="user.email"
                    label="อีเมล"
                    :error-messages="errors.collect('email')"
                    v-validate="'required|email|'"
                    data-vv-name="email"
                    append-icon="email"
                    required
                    >
                  </v-text-field>
                </v-flex> 
                <v-flex xs12 class="pt-0">
                  <!-- Update profile -->
                  <v-btn 
                    depressed 
                    dark
                    color="light-blue" 
                    @click="doUpdateEmail()"
                    :loading="editModeLoading"
                  >
                    บันทึก
                  </v-btn>
                  <!-- Back To View Mode -->
                  <v-btn depressed dark color="grey" @click="onViewMode">ยกเลิก</v-btn>
                </v-flex>             
              </v-layout>
            </v-container>
          </div>
          <!-- edit birthday -->
          <div v-else-if="editBirthday == true" key="user-profile-edit-mode">
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs6>
                  <!--  Birthday -->
                  <v-menu
                    ref="birthdayMenu"
                    v-model="birthdayMenu"
                    lazy
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-right="40"
                    min-width="290px" 
                    >
                    <v-text-field
                      v-model="user.birthday"
                      label="วันเกิด"
                      :error-messages="errors.collect('birthday')"
                      v-validate="'required'"
                      data-vv-name="birthday"
                      readonly
                      slot="activator"
                      >
                    </v-text-field>
                    <v-date-picker
                      :autosave="true"
                      ref="picker"
                      v-model="user.birthday"
                      min="1950-01-01"
                      :max="new Date().toISOString().substr(0, 10)"
                      >
                    </v-date-picker>
                  </v-menu>
                </v-flex> 
                <v-flex xs12 class="pt-0">
                  <!-- Update profile -->
                  <v-btn 
                    depressed 
                    dark
                    color="light-blue" 
                    @click="doUpdateBirthday()"
                    :loading="editModeLoading"
                  >
                    บันทึก
                  </v-btn>
                  <!-- Back To View Mode -->
                  <v-btn depressed dark color="grey" @click="onViewMode">ยกเลิก</v-btn>
                </v-flex>             
              </v-layout>
            </v-container>
          </div>
          <!-- edit location -->
          <div v-else-if="editPosition == true" key="user-profile-edit-mode">
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs6>
                  <!-- province -->
                  <v-text-field
                    v-model="user.province"
                    label="จังหวัด"
                    >
                  </v-text-field>
                </v-flex> 
                <v-flex xs6>
                  <!-- country -->
                  <v-text-field
                    v-model="user.country"
                    label="ประเทศ"
                    >
                  </v-text-field>
                </v-flex> 
                <v-flex xs12 class="pt-0">
                  <!-- Update profile -->
                  <v-btn 
                    depressed 
                    dark
                    color="light-blue" 
                    @click="doUpdateLocation()"
                    :loading="editModeLoading"
                  >
                    บันทึก
                  </v-btn>
                  <!-- Back To View Mode -->
                  <v-btn depressed dark color="grey" @click="onViewMode">ยกเลิก</v-btn>
                </v-flex>             
              </v-layout>
            </v-container>
          </div>
        </v-flex>

         
      </v-layout>
    </v-container>    
    <!-- Hidden Item -->
    <input type="file" style="display:none" ref="fileInput" accept="image/jpeg" @change="onFilePicked" v-validate="'ext:jpg'" :error-messages="errors.collect('image')" data-vv-name="image">
  </div>
</template>

<script>
import firebase from 'firebase' //Storage

export default {
  name: 'user-profile',
  data() {
    return {
      editMode: false,
      editName: false,
      editPhone: false,
      editEmail: false,
      editBirthday: false,
      editPosition: false,
      editModeLoading: false,
      userProfile: [],
      // birthday
      birthdayMenu: false,
      // image
      seen: false,
      downloadURL: null,
      image: null
    }
  },
  watch: {
    birthdayMenu(val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  created() {
    this.getUserProfile()
  },
  methods: {
    getUserProfile() {
      axios
        .get('https://api.farmerspace.co/marketplace/getUserInfo/' + this.$session.get('userid'))
        .then(response => {
          if (response.status === 200) {
            this.userProfile = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    onPickFile() {
      this.$refs.fileInput.click()
    },
    onFilePicked(event) {
      this.seen = !this.seen
      const files = event.target.files
      if (files[0] !== undefined) {
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          iziToast.error({
            title: 'Error',
            message: 'Please add a vaild file!'
          })
          return
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.userProfile[0].picture = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
        // Call function uploadFirebase
        this.uploadProfilePictureToFisebase()
      } else {
        this.image = null
        this.downloadURL = null
      }
    },
    uploadProfilePictureToFisebase() {
      try {
        // Upload images to firebase and get URL
        var storageRef = firebase.storage().ref()

        // File or Blob named mountains.jpg
        var file = this.image

        var ext = file.name.slice(file.name.lastIndexOf('.'))

        // Create the file metadata
        var metadata = {
          contentType: 'image/jpeg'
        }

        // Upload file and metadata to the object 'images/mountains.jpg'
        var uploadTask = storageRef
          .child('users_profile_picture/' + this.$session.get('userid') + ext)
          .put(file, metadata)

        // Listen for state changes, errors, and completion of the upload.
        uploadTask.on(
          firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
          function(snapshot) {
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            var progress = snapshot.bytesTransferred / snapshot.totalBytes * 100
            console.log('Upload is ' + progress + '% done')
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log('Upload is paused')
                break
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log('Upload is running')
                break
            }
          },
          error => {
            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
            switch (error.code) {
              case 'storage/unauthorized':
                // User doesn't have permission to access the object
                break

              case 'storage/canceled':
                // User canceled the upload
                break

              case 'storage/unknown':
                // Unknown error occurred, inspect error.serverResponse
                break
            }
          },
          () => {
            // Upload completed successfully, now we can get the download URL
            this.downloadURL = uploadTask.snapshot.downloadURL
            // Go update main picture url in database
            const data = {
              id: this.$session.get('userid'),
              picture: this.downloadURL,
              condition: 'users'
            }
            axios
              .put('https://api.farmerspace.co/marketplace/updatePicture', data)
              .then(response => {
                if (response.data.message == true) {
                  // Callback ID Product from api
                  this.seen = !this.seen
                  iziToast.info({
                    title: 'Picture has been updated',
                    position: 'bottomRight',
                    timeout: 1500
                  })
                } else {
                  this.seen = !this.seen
                  console.log(response.data.message)
                  iziToast.error({
                    title: 'Failed',
                    message: 'Something worng!',
                    position: 'bottomRight',
                    timeout: 1500
                  })
                }
              })
              .catch(error => {
                console.log(error)
              })
          }
        )
      } catch (error) {
        console.log(error)
      }
    },
    onClickEditButton(nameofedit) {
      this.editMode = true
      switch (nameofedit) {
        case 'editName':
          this.editName = true
          break
        case 'editPhone':
          this.editPhone = true
          break
        case 'editEmail':
          this.editEmail = true
          break
        case 'editBirthday':
          this.editBirthday = true
          break
        case 'editPosition':
          this.editPosition = true
          break
        default:
          break
      }
    },
    onViewMode() {
      this.editMode = false
      this.editName = false
      this.editPhone = false
      this.editEmail = false
      this.editBirthday = false
      this.editPosition = false
    },
    doUpdateName() {
      this.editModeLoading = !this.editModeLoading
      const data = {
        userid: this.$session.get('userid'),
        firstname: this.userProfile[0].firstname,
        lastname: this.userProfile[0].lastname,
        condition: 'name'
      }
      axios
        .put('https://api.farmerspace.co/marketplace/updateUserInfo', data)
        .then(response => {
          if (response.data.message == true) {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            iziToast.info({
              title: 'Updated',
              position: 'bottomRight',
              timeout: 1500
            })
          } else {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            console.log(response.data.message)
            iziToast.error({
              title: 'Failed',
              message: 'Something worng!',
              position: 'bottomRight',
              timeout: 1500
            })
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    doUpdatePhone() {
      this.editModeLoading = !this.editModeLoading
      const data = {
        userid: this.$session.get('userid'),
        phone: this.userProfile[0].phone,
        condition: 'phone'
      }
      axios
        .put('https://api.farmerspace.co/marketplace/updateUserInfo', data)
        .then(response => {
          if (response.data.message == true) {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            iziToast.info({
              title: 'Updated',
              position: 'bottomRight',
              timeout: 1500
            })
          } else {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            console.log(response.data.message)
            iziToast.error({
              title: 'Failed',
              message: 'Something worng!',
              position: 'bottomRight',
              timeout: 1500
            })
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    doUpdateEmail() {
      this.editModeLoading = !this.editModeLoading
      const data = {
        userid: this.$session.get('userid'),
        email: this.userProfile[0].email,
        condition: 'email'
      }
      axios
        .put('https://api.farmerspace.co/marketplace/updateUserInfo', data)
        .then(response => {
          if (response.data.message == true) {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            iziToast.info({
              title: 'Updated',
              position: 'bottomRight',
              timeout: 1500
            })
          } else {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            console.log(response.data.message)
            iziToast.error({
              title: 'Failed',
              message: 'Something worng!',
              position: 'bottomRight',
              timeout: 1500
            })
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    doUpdateBirthday() {
      this.editModeLoading = !this.editModeLoading
      const data = {
        userid: this.$session.get('userid'),
        birthday: this.userProfile[0].birthday,
        condition: 'birthday'
      }
      axios
        .put('https://api.farmerspace.co/marketplace/updateUserInfo', data)
        .then(response => {
          if (response.data.message == true) {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            iziToast.info({
              title: 'Updated',
              position: 'bottomRight',
              timeout: 1500
            })
          } else {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            console.log(response.data.message)
            iziToast.error({
              title: 'Failed',
              message: 'Something worng!',
              position: 'bottomRight',
              timeout: 1500
            })
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    doUpdateLocation() {
      this.editModeLoading = !this.editModeLoading
      const data = {
        userid: this.$session.get('userid'),
        province: this.userProfile[0].province,
        country: this.userProfile[0].country,
        condition: 'location'
      }
      axios
        .put('https://api.farmerspace.co/marketplace/updateUserInfo', data)
        .then(response => {
          if (response.data.message == true) {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            iziToast.info({
              title: 'Updated',
              position: 'bottomRight',
              timeout: 1500
            })
          } else {
            this.editModeLoading = !this.editModeLoading
            this.onViewMode()
            console.log(response.data.message)
            iziToast.error({
              title: 'Failed',
              message: 'Something worng!',
              position: 'bottomRight',
              timeout: 1500
            })
          }
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.image-box {
  position: relative;
  width: 100%;
}
.edit-image {
  object-fit: cover;
  opacity: 1;
  width: 200px;
  height: 200px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
</style>