<template>
  <div id="login">
    <v-container fluid class="py-0 px-0">
      <v-layout row wrap >
        <!-- Login page -->
        <v-flex md5 class="py-4 px-4 panel-fixed" v-if="!goRegister">
          <v-layout row wrap align-center>
            <v-flex xs12 md10 offset-md1>
              <h1 class="mb-4 display-3" style="color:#1C7203;font-weight:300">เข้าสู่ระบบ</h1>
            </v-flex>
            <v-flex xs12 md6 offset-md1 text-xs-center>
              <v-select
              :items="state"
              label="Country"
              value="ประเทศไทย"
              single-line
              ></v-select>
            </v-flex>       
            <v-flex xs12 md3 offset-md1 text-xs-center>
              <v-text-field 
                label="+66" 
                single-line
                readonly
                >
              </v-text-field>     
            </v-flex>
            <v-flex xs12 md10 offset-md1 text-xs-center class="mt-5">
              <form>
                <v-text-field 
                  v-model="phone" 
                  label="เบอร์โทรศัพท์" 
                  :error-messages="errors.collect('phone')" 
                  v-validate="'required|min:10|'" 
                  mask="### ### ####"
                  data-vv-name="phone" 
                  append-icon="phone" 
                  required
                  autofocus
                  >
                </v-text-field>
                <v-text-field 
                  v-model="password" 
                  label="รหัสผ่าน" 
                  :error-messages="errors.collect('password')" 
                  v-validate="'required|min:4'" 
                  data-vv-name="password" 
                  required 
                  :append-icon="passwordView ? 'visibility' : 'visibility_off'" 
                  :append-icon-cb="() => (passwordView = !passwordView)" 
                  :type="passwordView ? 'password' : 'text'" 
                  @keyup.enter="doLogin"
                  >
                </v-text-field>
                <v-btn block :loading="loadingLogin" class="mt-4" @click="doLogin" large color="green darken-3" dark>เข้าสู่ระบบ</v-btn>
                <h5 class="mt-5 subheading" style="color: #7A7B78">คุณยังไม่มีบัญชี?
                  <a flat v-on:click="goRegister = !goRegister" large dark style="color:#1C7203">
                    ลงทะเบียนได้เลย!
                  </a>
                </h5>
              </form>
            </v-flex>
          </v-layout>
        </v-flex>
        <!-- Regsiter page -->
        <v-flex md5 class="py-4 px-4 panel-fixed" v-else-if="goRegister">
          <v-layout row wrap>
            <v-flex xs12 md10 offset-md1>
              <h1 class="my-5 display-2">สมัครสมาชิก</h1>
            </v-flex>
            <v-flex xs12 md10 offset-md1>
              <user-register @goLogin="goRegister = $event"></user-register>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex md7 class="bg" hidden-sm-and-down>
          <v-carousel lazy hide-controls hide-delimiters interval="30000">
            <v-carousel-item v-for="(item,i) in images" :src="item" :key="i"></v-carousel-item>
          </v-carousel>
            <div class="circle">Cropper เราช่วยคุณ <br> ซื้อ/ขายผลผลิตสดใหม่ <br> ส่งตรงจากฟาร์ม
            <v-btn class="btn-info-login" outline dark>ดูรายละเอียด</v-btn>
            </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import iziToast from 'iziToast' // Alert css
import userRegister from '@/components/users/UserRegister'

export default {
  name: 'login',
  components: {
    'user-register': userRegister
  },
  data() {
    return {
      state: ['ประเทศไทย'],
      phone: '',
      password: '',
      passwordView: true,
      logins: [],
      loadingLogin: false,
      goRegister: false,
      images: [
        'static/login_images/01.jpg',
        'static/login_images/02.jpg',
        'static/login_images/03.jpg',
        'static/login_images/04.jpg',
        'static/login_images/05.jpg',
        'static/login_images/06.jpg'
      ]
    }
  },
  watch: {
    phone: function() {
      if (this.phone.length == 4) {
      }
    }
  },
  beforeCreate() {
    if (this.$session.exists()) {
      this.$router.push({ name: 'Dashboard' })
    }
  },
  created() {
    this.imageUrl()
  },
  methods: {
    doLogin() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          this.loadingLogin = !this.loadingLogin
          // Valid #insert product
          const data = {
            phone: this.phone,
            password: this.password
          }
          try {
            const response_login = await axios.post(
              'https://api.farmerspace.co/marketplace/login',
              data
            )
            if (response_login.data.message && response_login.data.verify === true) {
              // Set session userid
              this.$session.start()
              this.$session.set('userid', response_login.data.message[0].userid)
              this.$session.set('roleid', response_login.data.message[0].roleid)

              // set localStorage
              // localStorage.setItem('token', 'test')

              // Update Count Login
              try {
                const response_updateCountLogin = await axios.put(
                  'https://api.farmerspace.co/marketplace/updateCountLogin',
                  {
                    userid: this.$session.get('userid')
                  }
                )
                if (response_updateCountLogin.data.message === true) {
                  // console.log('login count updateed')
                }
              } catch (error) {
                console.log(error)
              }

              // Update Last Login
              try {
                const response_updateLastLogin = await axios.put(
                  'https://api.farmerspace.co/marketplace/updateLastLogin',
                  {
                    userid: this.$session.get('userid')
                  }
                )
                if (response_updateLastLogin.data.message === true) {
                  // console.log('login count updateed')
                }
              } catch (error) {
                console.log(error)
              }

              iziToast.success({
                title: 'Login Successful!',
                message: 'Welcome To Marketplace',
                position: 'bottomRight'
              })
              this.loadingLogin = !this.loadingLogin
              this.$router.push({ name: 'Dashboard' })
            } else {
            this.loadingLogin = !this.loadingLogin
              iziToast.warning({
                title: response_login.data.message,
                position: 'bottomRight',
                timeout: 2500
              })
            }
          } catch (error) {
            this.loadingLogin = !this.loadingLogin
            console.log(error)
          }
        }
      })
    },
    imageUrl() {
      var randomNumber = Math.floor(Math.random() * this.images.length)
      var oldImage = this.images[0]
      this.images[0] = this.images[randomNumber]
      this.images[randomNumber] = oldImage
    }
  }
}
</script>

<style lang="scss" scoped>
// .bg {
// background-image: url('../../assets/login_images/01.jpg');
// -webkit-background-size: contain;
// background-size: cover;
// background-repeat: no-repeat;
// }
.carousel {
  height: 100%;
}
.circle {
  background-color: #2f7d32;
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  margin-left: 40px;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  padding-top: 35px;
}
.btn-info-login {
  &:hover {
    background-color: #fff !important;
    color: #2f7d32 !important;
  }
}
</style>
