<template>
  <div id="register">
    <form>
      <h1 class="title my-3">ข้อมูลส่วนบุคคล</h1>
      <!-- First Name -->
      <v-text-field
        v-model="firstname"
        label="ชื่อ"
        :error-messages="errors.collect('firstname')"
        v-validate="'required'"
        data-vv-name="firstname"
        required
        >
      </v-text-field>
      <!-- Last Name -->
      <v-text-field
        v-model="lastname"
        label="นามสกุล"
        :error-messages="errors.collect('lastname')"
        v-validate="'required'"
        data-vv-name="lastname"
        required
        >
      </v-text-field>
      <!-- Phone -->
      <v-text-field
        v-model="phone"
        label="เบอร์โทรศัพท์"
        :error-messages="errors.collect('phone')"
        v-validate="'required|min:10|'"
        data-vv-name="phone"
        append-icon="phone"
        mask="phone"
        required
        >
      </v-text-field>
      <!-- Email -->
      <v-text-field
        v-model="email"
        label="อีเมล"
        :error-messages="errors.collect('email')"
        v-validate="'required|email|'"
        data-vv-name="email"
        append-icon="email"
        required
        >
      </v-text-field>
      <!--  Birthday -->
      <v-menu
        ref="birthdayMenu"
        v-model="birthdayMenu"
        lazy
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        full-width
        :nudge-right="40"
        max-width="290px"
        min-width="290px"
       >
        <v-text-field
          v-model="birthday"
          label="วันเกิด"
          :error-messages="errors.collect('birthday')"
          v-validate="'required'"
          data-vv-name="birthday"
          readonly
          slot="activator"
          >
        </v-text-field>
        <v-date-picker
          :autosave="true"
          ref="picker"
          v-model="birthday"
          min="1950-01-01"
          :max="new Date().toISOString().substr(0, 10)"
        ></v-date-picker>
      </v-menu>
        
      <h1 class="title my-3">ตั้งค่าความปลอดภัย</h1>
      <v-text-field
        v-model="password"
        label="รหัสผ่าน"
        :error-messages="errors.collect('password')"
        v-validate="'required|min:6'"
        name="password"
        required
        :append-icon="passwordView ? 'visibility' : 'visibility_off'"
        :append-icon-cb="() => (passwordView = !passwordView)"
        :type="passwordView ? 'password' : 'text'"
        >
      </v-text-field>
      <v-text-field
        v-model="confirmpassword"
        label="รหัสผ่านอีกครั้ง"
        :error-messages="errors.collect('confirmpassword')"
        v-validate="'required|min:6|confirmed:password'"
        data-vv-name="confirmpassword"
        required
        :append-icon="passwordView ? 'visibility' : 'visibility_off'"
        :append-icon-cb="() => (passwordView = !passwordView)"
        :type="passwordView ? 'password' : 'text'"
        >
      </v-text-field>
      <v-checkbox
        color="green"
        type="checkbox"
        value="1"
        v-model="conditions"
        :error-messages="errors.collect('conditions')"
        v-validate="'required'"
        data-vv-name="conditions"
        required
        >
        <div slot="label" @click.stop="">
          Do you accept the
          <a href="javascript:;" @click.stop="conditionsDialog = true">conditions?</a>
        </div>
      </v-checkbox>
      <v-btn class="mt-5" v-on:click="$emit('goLogin', false)"  large color="yellow darken-3" dark>กลับ</v-btn>
      <v-btn :loading="loadingRegister" class="mt-5" @click="doRegister" large color="green darken-3" dark>สมัครสมาชิก</v-btn>
    </form>
    <v-dialog v-model="conditionsDialog" width="70%">
      <v-card>
        <v-card-title class="title">Conditions</v-card-title>
        <v-card-text v-for="n in 5" :key="n">
          {{ content }}
        </v-card-text>
        <v-card-actions>
          <v-btn
          block
            dark
            color="orange"
            @click="conditionsDialog = false"
          >Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import iziToast from 'iziToast' // Alert css

export default {
  name: 'register',
  data() {
    return {
      birthdayMenu: false,
      loadingRegister: false,
      passwordView: true,
      firstname: '',
      lastname: '',
      phone: '',
      birthday: '',
      email: '',
      password: '',
      confirmpassword: '',
      conditions: '',
      conditionsDialog: false,
      content:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.'
    }
  },
  watch: {
    birthdayMenu(val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
  },
  methods: {
    doRegister: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // enable loading register
          this.loadingRegister = !this.loadingRegister
          // set form data
          const data = {
            firstname: this.firstname,
            lastname: this.lastname,
            phone: this.phone,
            birthday: this.birthday,
            email: this.email,
            password: this.password,
            confirmpassword: this.confirmpassword,
            conditions: this.conditions,
            roleid: 'ROLE000002'
          }
          axios
            .post('https://api.farmerspace.co/marketplace/register', data)
            .then(response => {
              if (response.data.message === true) {
                that.loadingRegister = !that.loadingRegister
                that.formData = []
                // Alert success register
                that.$emit('goLogin', false)
                iziToast.success({
                  title: 'Resgister Successful',
                  message: 'try login to system by phone number',
                  position: 'bottomRight',
                  onClosed: function() {}
                })
              } else {
                console.log(response.data.message);
                this.loadingRegister = !this.loadingRegister
                iziToast.warning({
                  title: response.data.message,
                  position: 'bottomRight',
                  timeout: 2500,
                })
              }
            })
            .catch(error => {
              console.log(error)
              this.loadingRegister = !this.loadingRegister
            })
        }
      })
    },
    formatDate(date) {
      if (!date) {
        return null
      }

      const [year, month, day] = date.split('-')
      return '${month}/${day}/${year}'
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
