<template>
  <div id="conversation">
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs12 class="mt-2">
          <div class="display-1 head-page">Text & Greeting</div>
        </v-flex>
        <v-flex xs12 md4 class="pt-0">
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="searchConversation"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 md8 text-xs-right>
          <v-btn dark color="green darken-3" slot="activator" @click="addItem()">
          <v-icon class="mr-1">add</v-icon>
            Add
          </v-btn>
        </v-flex>
        <!-- Data Table -->
        <v-flex xs12 class="pt-0">
          <v-data-table :headers="headers" :search="searchConversation" :items="conversations"  disable-initial-sort hide-actions class="elevation-0">
            <template slot="items" slot-scope="props">
              <tr>
                <td>{{ props.item.conid }} </td>
                <td>{{ props.item.positionsubid }} </td>
                <td>{{ props.item.description }} </td>
                <td>{{ props.item.THAText }} </td>
                <td>{{ props.item.ENGText }} </td>
                <td>
                  <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Dialog Item -->
    <v-dialog v-model="dialogItem" max-width="500px">
      <v-card>
        <v-card-title>
          <span v-if="editMode == false" class="headline">Create Conversation</span>
          <span v-else class="headline">Update Conversation</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap align-center>
              <v-flex xs12>
                <!-- Page -->
                <v-select
                  focus
                  :items="pages"
                  item-text="name"
                  item-value="pageid"
                  label="Page"
                  v-model="formData.pageid"
                  single-line
                  @input="$_getPositionByPage()"
                  @mouseover="$_getPage()"
                  v-validate="'required'"
                  :error-messages="errors.collect('page')" 
                  data-vv-name="page" 
                  >
                </v-select>
                <!-- Position -->
                <v-select
                  :items="positions"
                  item-text="name"
                  item-value="positionid"
                  label="Position"
                  v-model="formData.positionid"
                  single-line
                  @input="$_getPositionSubByPosition()"
                  v-validate="'required'"
                  :error-messages="errors.collect('position')" 
                  data-vv-name="position" 
                  >
                </v-select>
                <!-- Sub Position -->
                <v-select
                  :items="positionSubs"
                  item-text="name"
                  item-value="positionsubid"
                  label="Sub Position"
                  v-model="formData.positionsubid"
                  single-line
                  v-validate="'required'"
                  :error-messages="errors.collect('positionsub')" 
                  data-vv-name="positionsub" 
                  >
                </v-select>
                <!-- Description -->
                <v-text-field 
                  multi-line
                  v-model="formData.description"
                  label="Description"
                  v-validate="'max:1000'"
                  :counter="1000"
                  :error-messages="errors.collect('description')" 
                  data-vv-name="description" 
                ></v-text-field>
                <!-- Thai Text -->
                <v-text-field 
                  multi-line
                  v-model="formData.THAText"
                  label="Thai Text"
                  v-validate="'max:500'"
                  :counter="500"
                  :error-messages="errors.collect('THAText')" 
                  data-vv-name="THAText" 
                ></v-text-field>
                <!-- English Text -->
                <v-text-field 
                  multi-line
                  v-model="formData.ENGText"
                  label="English Text"
                  v-validate="'max:500'"
                  :counter="500"
                  :error-messages="errors.collect('ENGText')" 
                  data-vv-name="ENGText" 
                  multi-line
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red" dark @click.native="dialogItem = !dialogItem">Close</v-btn>
              <v-btn color="green" ref="submit" dark @click.native="doSubmit" :loading="dialogLoading">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>
import PageManage from './cards/PageManage'

export default {
  name: 'conversation',
  mixins: [PageManage],
  data() {
    return {
      // Search
      searchConversation: '',
      // Dialog
      dialogItem: false,
      dialogLoading: false,
      // Form data
      formData: [],
      conversations: [],
      positions: [],
      positionSubs: [],
      // check mode edit
      editMode: false,
      // Table
      headers: [
        { text: '#ID', align: 'left', value: 'conid', width: '20' },
        { text: 'Sub Position', align: 'left', value: 'positionsubid', width: '20' },
        { text: 'Description', align: 'left', value: 'description', width: '200' },
        { text: 'Thai Text', align: 'left', value: 'THAText', width: '150' },
        { text: 'English Text', align: 'left', value: 'ENGText', width: '150' },
        { text: '', align: 'left', value: 'action', width: '100' }
      ]
    }
  },
  watch: {
    'formData.pageid': async function() {
      await this.$_getPositionByPage()
      if (this.positions.length == 0) {
        this.formData.positionid = null
      }
    },
    'formData.positionid': async function() {
      await this.$_getPositionSubByPosition()
      if (this.positionSubs.length == 0) {
        this.formData.positionsubid = null
      }
    }
  },
  created() {
    this.getConversation()
    this.$_getPage()
  },
  methods: {
    async getConversation() {
      try {
        const response = await axios.get('https://api.farmerspace.co/marketplace/getConversation')
        if (response.status === 200) {
          this.conversations = response.data
        }
      } catch (error) {
        console.log(error)
      }
    },
    async $_getPositionByPage() {
      try {
        this.positions = []
        this.positionSubs = []
        const response = await axios.get('https://api.farmerspace.co/marketplace/getPosition')
        if (response.status === 200) {
          response.data.forEach(element => {
            if (element.pageid == this.formData.pageid) {
              this.positions.push(element)
            }
          })
        }
      } catch (error) {
        console.log(error)
      }
    },
    async $_getPositionSubByPosition() {
      try {
        this.positionSubs = []
        const response = await axios.get('https://api.farmerspace.co/marketplace/getPositionSub')
        if (response.status === 200) {
          response.data.forEach(element => {
            if (element.positionid == this.formData.positionid) {
              this.positionSubs.push(element)
            }
          })
        }
      } catch (error) {
        console.log(error)
      }
    },
    doSubmit() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          // enable loading type
          this.dialogLoading = !this.dialogLoading

          if (this.editMode === true) {
            // Update Mode
            const data = {
              conid: this.formData.conid, // Only in update mode
              positionsubid: this.formData.positionsubid,
              description: this.formData.description,
              THAText: this.formData.THAText,
              ENGText: this.formData.ENGText
            }
            try {
              const response = await axios.put(
                'https://api.farmerspace.co/marketplace/updateConversation',
                data
              )
              if (response.status === 200) {
                this.dialogLoading = !this.dialogLoading
                this.dialogItem = !this.dialogItem
                this.formData = []
                this.getConversation()
                iziToast.info({
                  title: 'Congrats',
                  message: 'Conversation has been updated!',
                  position: 'bottomRight'
                })
              }
            } catch (error) {
              console.log(error)
              this.dialogLoading = !this.dialogLoading
            }
          } else {
            // Create Mode
            const data = {
              positionsubid: this.formData.positionsubid,
              description: this.formData.description,
              THAText: this.formData.THAText,
              ENGText: this.formData.ENGText
            }
            try {
              const response = await axios.post(
                'https://api.farmerspace.co/marketplace/insertConversation',
                data
              )
              if (response.status === 200) {
                this.dialogLoading = !this.dialogLoading
                this.dialogItem = !this.dialogItem
                this.formData = []
                this.getConversation()
                iziToast.success({
                  title: 'Congrats',
                  message: 'New Conversation has been created!',
                  position: 'bottomRight'
                })
              }
            } catch (error) {
              console.log(error)
              this.dialogLoading = !this.dialogLoading
            }
          }
        }
      })
    },
    addItem() {
      this.editMode = false
      this.formData = []
      this.dialogItem = !this.dialogItem
    },
    editItem(item) {
      this.editMode = true
      this.formData = item
      this.dialogItem = !this.dialogItem
    },
    deleteItem(item) {
      // Delete from DB
      swal({
        title: 'Delete',
        text: item.THAText,
        width: '16rem',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        reverseButtons: true
      }).then(async result => {
        if (result.value) {
          // Delete in DB
          try {
            const response = await axios.delete(
              'https://api.farmerspace.co/marketplace/deleteConversation/' + item.conid
            )
            if (response.status === 200) {
              const index = this.$_indexWhere(this.conversations, item => item.conid === item.conid)
              this.$delete(this.conversations, index)
              iziToast.info({
                title: 'Conversation deleted!',
                position: 'bottomRight'
              })
            }
          } catch (error) {
            console.log(error)
          }
        } else if (result.dismiss === 'cancel') {
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
td {
  cursor: pointer;
}
</style>