<template>
  <div id="image-color">
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs12 class="mt-2">
          <div class="display-1 head-page">Image & Color</div>
        </v-flex>
        <v-flex xs12>
          <v-tabs :scrollable="false">
            <!-- Header Tab -->
            <v-tabs-bar>
                <v-tabs-item v-for="i in tabs" :key="i" :href="'#' + i">
                <div class="caption">{{i}}</div>
              </v-tabs-item>
                <v-tabs-slider color="green darken-3"></v-tabs-slider>
            </v-tabs-bar>
            <!-- Content Tab -->
            <v-tabs-items>
              <v-tabs-content v-for="item in tabs" :key="item" :id="item" class="py-3">
                <!-- Tab Management -->
                <div v-if="item == 'Management'">
                  <image-management class="my-2"></image-management>
                  <color-management class="my-2"></color-management>
                </div>
                <!-- Tab Image Type -->
                <div v-else-if="item == 'Image Type'">

                </div>
              </v-tabs-content>
            </v-tabs-items>
          </v-tabs>          
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ImageManage from './cards/ImageManage'
import ColorManage from './cards/ColorManage'

export default {
  name: 'image-color',
  components: {
    'image-management': ImageManage,
    'color-management': ColorManage
  },
  data() {
    return {
      tabs: ['Management', 'Image Type']
    }
  }
}
</script>

<style lang="scss" scoped>

</style>