<template>
  <div id="page-position">
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
          <v-flex xs12 class="mt-2">
          <div class="display-1 head-page">Page & Position</div>
        </v-flex>
        <v-flex xs12>
          <v-tabs :scrollable="false">
            <!-- Header Tab -->
            <v-tabs-bar>
                <v-tabs-item v-for="i in tabs" :key="i" :href="'#' + i">
                <div class="caption">{{i}}</div>
              </v-tabs-item>
                <v-tabs-slider color="green darken-3"></v-tabs-slider>
            </v-tabs-bar>
            <!-- Content Tab -->
            <v-tabs-items>
              <v-tabs-content v-for="item in tabs" :key="item" :id="item" class="py-3">
                <!-- Tab Page -->
                <div v-if="item == 'Page'">
                  <page-manage></page-manage>
                </div>
                <!-- Tab Position -->
                <div v-else-if="item == 'Position'">
                  <position-manage></position-manage>
                </div>
                <!-- Tab Sub Position -->
                <div v-else-if="item == 'Sub Position'">
                  <position-sub-manage></position-sub-manage>
                </div>
              </v-tabs-content>
            </v-tabs-items>
          </v-tabs>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import PageManage from './cards/PageManage'
import PositionManage from './cards/PositionManage'
import PositionSubManage from './cards/PositionSubManage'

export default {
  name: 'page-position',
  components: {
    'page-manage': PageManage,
    'position-manage': PositionManage,
    'position-sub-manage': PositionSubManage
  },
  data() {
    return {
      tabs: ['Page', 'Position', 'Sub Position']
    }
  }
}
</script>

<style lang="scss" scoped>

</style>