<template>
  <div id="Role">
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs12 class="mt-2">
          <h2 class="display-1 head-page">Role Management</h2>
        </v-flex>
        <v-flex xs12 md4 class="pt-0">
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="searchRole"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 md8 text-xs-right>
          <v-btn dark color="green darken-3" slot="activator" @click="addItem('THA')">
          <v-icon class="mr-1">add</v-icon>
            Add
          </v-btn>
        </v-flex>
        <!-- Data Table -->
        <v-flex xs12 class="pt-0">
          <v-data-table v-bind:headers="headers" :search="searchRole" item-key="roleid" :items="Roles"  disable-initial-sort hide-actions class="elevation-0">
            <template slot="items" slot-scope="props">
              <tr>
                <td class="text-xs-center">
                  <img v-if="props.item.picture" ref="mainPicture" :src="props.item.picture ? props.item.picture : '/static/images/NoPicture.png'" height="50px" contain style="padding-top:5px">
                </td>
                <td>{{ props.item.rolename }} </td>
                <td>{{ props.item.rolecallname }} </td>
                <td class="text-xs-center">{{ props.item.level }} </td>
                <td class="text-xs-center">{{ props.item.orders }} </td>
                <td class="text-xs-right px-0">
                  <v-btn icon class="mx-0" @click="props.expanded = !props.expanded">
                    <v-icon color="black" v-if="!props.expanded">keyboard_arrow_down</v-icon>
                    <v-icon color="black" v-else>keyboard_arrow_up</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
            <template slot="expand" slot-scope="props">
              <v-card color="grey lighten-4" >
                <v-card-text>
                  <v-chip small color="grey lighten-2">#ID</v-chip>
                  <span>{{ props.item.roleid }}</span>
                  <br>
                  <v-chip small color="grey lighten-2">Lasted Update</v-chip>
                  <span>{{ props.item.updatedate }}</span>
                  <br>
                  <v-chip small color="grey lighten-2">Description</v-chip>
                  <span v-if="props.item.description" style="word-break: break-all;">{{ props.item.description }}</span>
                  <div v-else>ไม่มีข้อมูล</div>
                  <br>
                  <v-chip small color="grey lighten-2">Condition</v-chip>
                  <span v-if="props.item.rolecondition" style="word-break: break-all;">{{ props.item.rolecondition }}</span>
                  <span v-else>ไม่มีข้อมูล</span>
                  <br>
                  <v-chip small color="grey lighten-2">By</v-chip>
                  <span>{{ props.item.updateby }}</span>
                  <br>
                </v-card-text>
              </v-card>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Dialog Item -->
    <v-dialog v-model="dialogItem" max-width="500px">
      <v-card>
        <v-card-title>
          <span v-if="editMode == false" class="headline">Create Role</span>
          <span v-else class="headline">Update Role</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap align-center>
              <v-flex v-if="editMode === true" class="image-box" xs12 text-xs-center>
                <!-- Role Picture -->
                <img class="edit-image" ref="mainPicture" :src="picture ? picture : 'static/images/NoPicture.png'" height="200px" contain>
                <v-progress-linear :indeterminate="true" color="black" v-if="seen"></v-progress-linear>
                <div class="middle">
                  <input type="file" style="display:none" ref="fileInput" accept="image/png" @change="onFilePicked" v-validate="'ext:png'" :error-messages="errors.collect('image')" data-vv-name="image">
                  <v-btn flat class="caption" color="red" @click="onPickFile">Choose Picture</v-btn>
                </div>
              </v-flex>
              <v-flex xs12>
                <!-- Role Name -->
                <v-text-field 
                  v-model="formData.rolename"
                  label="Role Name"
                  v-validate="'required'"
                  :error-messages="errors.collect('rolename')" 
                  data-vv-name="rolename" 
                ></v-text-field>
                <!-- Role Call Name -->
                <v-text-field 
                  v-model="formData.rolecallname"
                  label="Call Name"
                  v-validate="'required'"
                  :error-messages="errors.collect('rolecallname')" 
                  data-vv-name="rolecallname" 
                ></v-text-field>
              </v-flex>
              <v-flex xs12 class="mt-2">
                <!-- Role Description -->
                <v-text-field 
                  v-model="formData.description"
                  label="Description"
                  v-validate="'max:1000'"
                  :counter="1000"
                  :error-messages="errors.collect('description')" 
                  data-vv-name="description" 
                  multi-line
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Role Condition -->
                <v-text-field 
                  v-model="formData.rolecondition"
                  label="Condition"
                  v-validate="'max:1000'"
                  :counter="1000"
                  :error-messages="errors.collect('rolecondition')" 
                  data-vv-name="rolecondition" 
                  multi-line
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Level -->
                <v-text-field 
                  label="Level"
                  v-model="formData.level" 
                  :error-messages="errors.collect('level')" 
                  v-validate="'numeric|max_value:999'"
                  data-vv-name="level" 
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Orders -->
                <v-text-field 
                  label="Orders"
                  v-model="formData.orders" 
                  :error-messages="errors.collect('orders')" 
                  v-validate="'numeric'"
                  data-vv-name="orders" 
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red" dark @click.native="dialogItem = !dialogItem">Close</v-btn>
              <v-btn color="green" ref="submit" dark @click.native="doSubmit" :loading="dialogLoading">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>
import firebase from 'firebase' //Storage

export default {
  name: 'Role',
  data() {
    return {
      // Search
      searchRole: '',
      // Dialog
      dialogItem: false,
      dialogLoading: false,
      // Form data
      formData: [],
      Roles: [],
      picture: null,
      // check mode edit
      editMode: false,
      // Table
      headers: [
        { text: 'Picture', align: 'center', value: 'picture', width: '50' },
        { text: 'Name', align: 'left', value: 'rolename', width: '200' },
        { text: 'Call Name', align: 'left', value: 'rolecallname', width: '100' },
        { text: 'Level', align: 'center', value: 'level', width: '10' },
        { text: 'Orders', align: 'center', value: 'orders', width: '10' },
        { text: '', align: 'right', value: '', sortable: false, width: '150' }
      ],
      seen: false
    }
  },
  created() {
    this.getRole()
  },
  methods: {
    getRole() {
      let that = this
      axios
        .get('https://api.farmerspace.co/marketplace/getRole')
        .then(function(response) {
          if (response.data) {
            that.Roles = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    doSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // enable loading type
          this.dialogLoading = !this.dialogLoading
          let that = this

          if (this.editMode === true) {
            // Update Mode
            const data = {
              roleid: this.formData.roleid, // Only in update mode
              rolename: this.formData.rolename,
              rolecallname: this.formData.rolecallname,
              description: this.formData.description,
              rolecondition: this.formData.rolecondition,
              orders: this.formData.orders,
              level: this.formData.level,
              updateby: this.$session.get('userid')
            }
            axios
              .put('https://api.farmerspace.co/marketplace/updateRole', data)
              .then(function(response) {
                if (response.data.message === true) {
                  that.dialogLoading = !that.dialogLoading
                  that.dialogItem = !that.dialogItem
                  that.formData = []
                  that.getRole()
                  // Alert success login
                  iziToast.info({
                    title: 'Congrats',
                    message: 'Role has been updated!',
                    position: 'bottomRight',
                    onClosed: function() {}
                  })
                } else {
                  that.dialogLoading = !that.dialogLoading
                  iziToast.warning({
                    title: response.data.message,
                    position: 'bottomRight',
                    timeout: 2500,
                    onClosed: function() {}
                  })
                }
              })
              .catch(function(error) {
                console.log(error)
                that.dialogLoading = !that.dialogLoading
              })
          } else {
            // Create Mode
            const data = {
              rolename: this.formData.rolename,
              rolecallname: this.formData.rolecallname,
              description: this.formData.description,
              rolecondition: this.formData.rolecondition,
              orders: this.formData.orders,
              level: this.formData.level,
              updateby: this.$session.get('userid')
            }
            axios
              .post('https://api.farmerspace.co/marketplace/insertRole', data)
              .then(function(response) {
                if (response.data.message === true) {
                  that.getRole()
                  that.dialogLoading = !that.dialogLoading
                  that.dialogItem = !that.dialogItem
                  that.formData = [] // if they upload picture// Alert success login
                  iziToast.success({
                    title: 'Congrats',
                    message: 'New Role has been created!',
                    position: 'bottomRight',
                    onClosed: function() {}
                  })
                } else {
                  that.dialogLoading = !that.dialogLoading
                  iziToast.warning({
                    title: response.data.message,
                    position: 'bottomRight',
                    timeout: 2500,
                    onClosed: function() {}
                  })
                }
              })
              .catch(function(error) {
                console.log(error)
                that.dialogLoading = !that.dialogLoading
              })
          }
        }
      })
    },
    deleteItem(item) {
      // Delete from DB
      swal({
        title: 'Delete',
        text: item.rolename,
        width: '16rem',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          // Delete in Firebase
          if (item.picture) {
            var pictureRef = firebase.storage().refFromURL(item.picture)
            pictureRef.delete()
          }
          // Delete in DB
          axios
            .delete('https://api.farmerspace.co/marketplace/deleteRole/' + item.roleid)
            .then(response => {
              this.getRole()
            })
            .catch(e => {
              console.log(e)
            })
        } else if (result.dismiss === 'cancel') {
        }
      })
    },
    addItem() {
      this.editMode = false
      this.formData = []
      this.picture = null
      this.dialogItem = !this.dialogItem
    },
    editItem: function(item) {
      this.editMode = true
      this.formData = item
      this.picture = item.picture
      this.dialogItem = !this.dialogItem
    },
    onPickFile() {
      this.$refs.fileInput.click()
    },
    onFilePicked(event) {
      const files = event.target.files
      this.seen = !this.seen
      if (files[0] !== undefined) {
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          iziToast.error({
            title: 'Error',
            message: 'Please add a vaild file!'
          })
          return
        }
        if (filename.slice(filename.lastIndexOf('.')) != '.png') {
          iziToast.error({
            title: 'Error',
            message: 'Type of file invaild!'
          })
          return
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.picture = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
        // this.imageName = files[0].name
        // Call function uploadFirebase
        // Go update picture url in database
        this.uploadRolePictureToFisebase()
      } else {
        this.downloadURL = null
        this.image = null
        this.picture = null
      }
    },
    uploadRolePictureToFisebase() {
      try {
        var that = this
        // Upload images to firebase and get URL
        var storageRef = firebase.storage().ref()

        // File or Blob named mountains.jpg
        var file = this.image

        var ext = file.name.slice(file.name.lastIndexOf('.'))

        // Create the file metadata
        var metadata = {
          contentType: 'image/png'
        }

        // Upload file and metadata to the object 'images/mountains.jpg'
        var uploadTask = storageRef
          .child('role_picture/' + this.formData.roleid + ext)
          .put(file, metadata)

        // Listen for state changes, errors, and completion of the upload.
        uploadTask.on(
          firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
          function(snapshot) {
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            var progress = snapshot.bytesTransferred / snapshot.totalBytes * 100
            console.log('Upload is ' + progress + '% done')
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log('Upload is paused')
                break
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log('Upload is running')
                break
            }
          },
          function(error) {
            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
            switch (error.code) {
              case 'storage/unauthorized':
                // User doesn't have permission to access the object
                break

              case 'storage/canceled':
                // User canceled the upload
                break

              case 'storage/unknown':
                // Unknown error occurred, inspect error.serverResponse
                break
            }
          },
          function() {
            // Upload completed successfully, now we can get the download URL
            that.downloadURL = uploadTask.snapshot.downloadURL
            // update picture url to DB
            const data = {
              id: that.formData.roleid,
              picture: that.downloadURL,
              condition: 'role'
            }
            axios
              .put('https://api.farmerspace.co/marketplace/updatePicture', data)
              .then(function(response) {
                if (response.data.message == true && response.status == 200) {
                  that.seen = !that.seen
                  iziToast.info({
                    title: 'Congrats',
                    message: 'Picture updated!',
                    position: 'bottomRight',
                    onClosed: function() {}
                  })
                }
              })
              .catch(function(error) {
                that.seen = !that.seen
                console.log(error)
              })
          }
        )
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.image-box {
  position: relative;
  width: 100%;
}

.edit-image {
  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
  width: 150px;
  height: 150px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-box:hover .image {
  opacity: 0.3;
}

.image-box:hover .middle {
  opacity: 1;
}
</style>