<template>
  <div id="ProductForm">
    <form v-on:submit.prevent="addProduct">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="" style="margin-right: 40px">คุณคือ ?</label>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" id="buyer" v-model="products.UserRadio" value="buyer"> ผู้สั่งซื้อ
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" id="farmer" v-model="products.UserRadio" value="farmer"> ผู้เสนอขาย
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="">ชื่อผลผลิต</label>
          <input type="text" class="form-control" data-validation="required" v-model="products.ProductName">
        </div>
        <div class="form-group col-md-6">
          <label for="">สายพันธุ์</label>
          <input type="text" class="form-control" data-validation="required" v-model="products.Species">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="">รายละเอียด <br>
            <small>** โปรดให้รายละเอียดเพิ่มเติม อาทิ รูปแบบผลผลิต จุดเด่น มาตรฐานที่ได้รับรอง เป็นต้น</small>
          </label>
          <textarea maxlength="300" rows="4" class="form-control" data-validation="required" v-model="products.Detail"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="">ราคา ต่อ กิโลกรัม</label>
          <input type="number" class="form-control" data-validation="number" v-model="products.Price">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="">ปริมาณต่อการเก็บเกี่ยว (กิโลกรัม)</label>
          <input type="number" class="form-control" data-validation="number" v-model="products.Quantity">
        </div>
        <div class="form-group col-md-6">
          <label for="">วันเก็บเกี่ยว</label>
          <input type="date" data-validation="date" data-validation-format="yyyy-mm-dd" class="form-control" v-model="products.HarvestDay">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="" style="margin-right: 40px">สถานที่เพาะปลูก</label>
          <div class="form-check form-check-inline">
            <label for="oldAddress" class="form-check-label">
              <input class="form-check-input" type="radio" id="oldAddress" v-model="products.AddressRadio" value="oldAddress"> ใช้ที่อยู่เดียวกับประวัติ
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label for="newAddress" class="form-check-label">
              <input class="form-check-input" type="radio" id="newAddress" v-model="products.AddressRadio" value="newAddress"> ระบุที่อยู่ใหม่
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="">เลขที่</label>
          <input type="text" class="newAddress form-control" v-model="products.Address">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="">ตำบล</label>
          <input type="text" class="newAddress form-control" v-model="products.SubDistrict">
        </div>
        <div class="form-group col-md-6">
          <label for="">อำเภอ</label>
          <input type="text" class="newAddress form-control" v-model="products.District">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="">จังหวัด</label>
          <input type="text" class="newAddress form-control" v-model="products.Province">
        </div>
        <div class="form-group col-md-6">
          <label for="">รหัสไปรษณีย์</label>
          <input type="text" class="newAddress form-control" v-model="products.Zipcode">
        </div>
      </div>
      <input type="hidden" class="form-control" v-model="products.Latitude = markerLocation.lat">
      <input type="hidden" class="form-control" v-model="products.Longitude = markerLocation.lng">                                                              
      <button type="submit" class="btn btn-block btn-submit mt-5" id="submit">
         <div v-if="submitted == 0">บันทึกข้อมูล</div>
         <div v-if="submitted == 1"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> กรุณารอสักครู่</div>
      </button>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert2";
import iziToast from "iziToast";

export default {
  name: "ProductForm",
  props: {
    markerLocation: {
      type: Object,
      required: true,
      validate: function(value) {
        return (
          ["syncing", "synced", "version-conflict", "error"].indexOf(value) !==
          -1
        );
      }
    }
  },
  data() {
    return {
      submitted: 0,
      products: {
        UserRadio: "" /* Radio input */,
        ProductName: "",
        Species: "",
        Detail: "",
        Price: "",
        Quantity: "",
        HarvestDay: "",
        AddressRadio: "" /* Radio input */,
        Address: "",
        SubDistrict: "",
        District: "",
        Province: "",
        Zipcode: "",
        Latitude: "",
        Longitude: ""
      }
    };
  },
  beforeCreate: function() {
    if (!this.$session.exists()) {
      this.$router.push("/login");
    }
  },
  methods: {
    addProduct: function(e) {
      var app = this;
      const data = {
        UserID: this.$session.get("userid"),
        ProductName: this.products.ProductName,
        Species: this.products.Species,
        Detail: this.products.Detail,
        Price: this.products.Price,
        Quantity: this.products.Quantity,
        HarvestDay: this.products.HarvestDay,
        Address: this.products.Address,
        SubDistrict: this.products.SubDistrict,
        District: this.products.District,
        Province: this.products.Province,
        Zipcode: this.products.Zipcode,
        Latitude: this.products.Latitude,
        Longitude: this.products.Longitude,
        UserType: this.products.UserRadio
      };
      // console.log(data)
      this.submitted = 1;
      axios
        .post("https://api.farmerspace.co/market/postProduct", data)
        .then(function(response) {
          if (response.data == "true") {
            iziToast.success({
              title: "Success",
              message: "It done, Congrats!",
              position: "bottomRight",
              timeout: 2000,
              onClosed: function() {
                console.log(response.data);
                app.$router.push({ path: "/market" }); // It's works!!
              }
            });
          } else {
            iziToast.error({
              title: "Failed",
              message: "something worng!",
              position: "bottomRight",
              timeout: 2000,
              onClosed: function() {
                console.log(response.data);
              }
            });
            app.submitted = 0;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../../mq.scss";

#ProductForm {
  font-size: 16px;
  font-size: 1rem;
  input,
  textarea {
    border-radius: 0px;
    font-size: 1em;
    &:hover {
      border-color: #1c7203;
    }
    &:focus {
      border-color: #1c7203;
    }
  }
  #submit {
    background-color: #1c7203;
    color: #fff;
    cursor: pointer;
    border-radius: 0px;
    @include mobile {
      margin-bottom: 40px;
    }
  }
}
</style>
