<template>
  <div id="purchase-map">
  
          <div style="margin-top:20px;" class="input-group input-group--text-field input-group--single-line input-group--solo primary--text">
          <gmap-autocomplete 
          class="input-group__input"
            placeholder="จุดรับ - ซื้อขาย ผลผลิต"
            @place_changed="searchPlace($event)" 
            id="search-map" />
          </div>
          <gmap-map class="gmap-map" :center="currentLocation" :zoom="12">
            <gmap-marker 
              :position="marker" 
              :clickable="false" 
              :draggable="true"
              @drag="getPosition($event)"
              :animation="2" 
              @click="currentLocation=marker"></gmap-marker>
          </gmap-map>
       
  </div>
</template>

<script>
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyBHdovUZxzjIxZEKeOECAj0T2bH_l5Iw_0',
    libraries: 'places', // This is required if you use the Autocomplete plugin
    // OR: libraries: 'places,drawing'
    // OR: libraries: 'places,drawing,visualization'
    // (as you require)
    callback: 'initAutocomplete'
  }
})

export default {
  name: 'purchase-map',
  // props: ['textLat', 'textLng'],
  data() {
    return {
      currentLocation: {
        lat: 0,
        lng: 0
      },
      marker: {
        lat: 0,
        lng: 0
      }
    }
  },
  watch: {},
  created() {
    this.geolocation()
  },
  methods: {
    geolocation: function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
          this.currentLocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }
          this.marker = this.currentLocation
        })
      } else {
        alert('Geolocation is not supported by this browser.')
      }
    },
    getPosition: function(place) {
      this.marker = {
        lat: place.latLng.lat(),
        lng: place.latLng.lng()
      }
      this.$emit('getPosition', this.marker)
    },
    searchPlace: function(place) {
      this.currentLocation = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng()
      }
      this.marker = this.currentLocation
      this.$emit('getPosition', this.marker)
    }
  }
}
</script>


<style lang="scss" scoped>
.gmap-map {
  width: 100%;
  height: 100vh;
}

#search-map {
  display: inline-block;
  padding: 6px 11px;
  margin: 10px;
  width: 400px;
  border-radius: 0px;
  font-size: 1em;
}

#purchase-map {
  font-size: 16px !important;
  font-size: 1rem !important;
}
</style>