<template>
  <div id="group-description">
  <v-card-actions class="pb-4 text-xs-left">
    <v-icon x-large color="grey lighten-2" class="pr-2" @click="editMode" style="cursor:pointer">comment</v-icon>
      <div 
        @click="editMode" 
        v-if="!groupInfo[0].description && editGroupDescription == false" 
        class="caption"
        style="cursor:pointer"
        >คำอธิบาย จุดประสงค์ หรือพันธกิจ <br> ของกลุ่มคุณคืออะไร ?
      </div>
      <div 
        @click="editMode" 
        v-else-if="groupInfo[0].description && editGroupDescription == false" 
        class="caption"
        style="cursor:pointer"
        > {{groupInfo[0].description}} 
      </div>
      <v-text-field
        v-if="editGroupDescription"
        @blur="doUpdateGroupDescription"
        v-model="groupInfo[0].description"
        class="textarea-group-des"
        autofocus
        full-width
        single-line
        multi-line
        >
      </v-text-field>
    </v-card-actions>    
  </div>
</template>

<script>
export default {
  name: 'group-description',
  data() {
    return {
      editGroupDescription: false
    }
  },
  props: {
    groupInfo: {
      type: Array,
      required: true,
      validate: function(value) {
        return ['syncing', 'synced', 'version-conflict', 'error'].indexOf(value) !== -1
      }
    }
  },
  methods: {
    editMode() {
      if (this.groupInfo[0].createby === this.$session.get('userid')) {
        this.editGroupDescription = !this.editGroupDescription
      }
    },
    doUpdateGroupDescription() {
      // Update Mode
      const data = {
        groupid: this.groupInfo[0].groupid,
        createby: this.$session.get('userid'),
        description: this.groupInfo[0].description
      }
      axios
        .put('https://api.farmerspace.co/marketplace/updateGroupDescription', data)
        .then(response => {
          if (response.data.message === true) {
            this.editGroupDescription = false
            // Alert success login
            iziToast.info({
              title: 'updated!',
              position: 'bottomRight'
            })
          } else {
            this.editGroupDescription = false
            console.log(response.data.message)
          }
        })
        .catch(error => {
          console.log(error)
          this.editGroupDescription = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>