<template>
  <div id="group-picture">
    <div class="image-box">
      <v-card-media v-if="groupInfo[0].picture" :src="groupInfo[0].picture" height="100px" contain  key="group-picture"></v-card-media>
      <v-card-media v-else src="/static/images/NoPicture.png" height="100px" contain  key="group-picture"></v-card-media>
      <v-progress-linear v-if="seen" key="picture-loading" :indeterminate="true" color="black"></v-progress-linear>
      <div class="middle">
        <v-btn small class="caption" color="black" dark @click="onPickFile">เปลี่ยนรูป</v-btn>
      </div>
    </div>
  <!-- Hidden Item -->
  <input type="file" style="display:none" ref="fileInput" accept="image/jpeg" @change="onFilePicked" v-validate="'ext:jpg'" :error-messages="errors.collect('image')" data-vv-name="image">
  </div>
</template>

<script>
import firebase from 'firebase' //Storage

export default {
  name: 'group-picture',
  data() {
    return {
      // Group image
      seen: false,
      downloadURL: null,
      image: null
    }
  },
  props: {
    groupInfo: {
      type: Array,
      required: true,
      validate: function(value) {
        return ['syncing', 'synced', 'version-conflict', 'error'].indexOf(value) !== -1
      }
    }
  },
  methods: {
    onPickFile() {
      this.$refs.fileInput.click()
    },
    onFilePicked(event) {
      this.seen = !this.seen
      const files = event.target.files
      if (files[0] !== undefined) {
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          iziToast.error({
            title: 'Error',
            message: 'Please add a vaild file!'
          })
          return
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.groupInfo[0].picture = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
        // Call function uploadFirebase
        this.uploadGroupPictureToFisebase()
      } else {
        this.image = null
        this.downloadURL = null
      }
    },
    uploadGroupPictureToFisebase: function() {
      try {
        var that = this
        // Upload images to firebase and get URL
        var storageRef = firebase.storage().ref()

        // File or Blob named mountains.jpg
        var file = this.image

        var ext = file.name.slice(file.name.lastIndexOf('.'))

        // Create the file metadata
        var metadata = {
          contentType: 'image/jpeg'
        }

        // Upload file and metadata to the object 'images/mountains.jpg'
        var uploadTask = storageRef
          .child('groups_picture/' + this.groupInfo[0].groupid + ext)
          .put(file, metadata)

        // Listen for state changes, errors, and completion of the upload.
        uploadTask.on(
          firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
          function(snapshot) {
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            var progress = snapshot.bytesTransferred / snapshot.totalBytes * 100
            console.log('Upload is ' + progress + '% done')
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log('Upload is paused')
                break
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log('Upload is running')
                break
            }
          },
          function(error) {
            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
            switch (error.code) {
              case 'storage/unauthorized':
                // User doesn't have permission to access the object
                break

              case 'storage/canceled':
                // User canceled the upload
                break

              case 'storage/unknown':
                // Unknown error occurred, inspect error.serverResponse
                break
            }
          },
          () => {
            // Upload completed successfully, now we can get the download URL
            this.downloadURL = uploadTask.snapshot.downloadURL
            // Go update main picture url in database
            const data = {
              id: this.groupInfo[0].groupid,
              picture: this.downloadURL,
              condition: 'group'
            }
            axios
              .put('https://api.farmerspace.co/marketplace/updatePicture', data)
              .then(response => {
                if (response.data.message == true) {
                  // Callback ID Product from api
                  this.seen = !this.seen
                  iziToast.info({
                    title: 'Picture has been updated',
                    position: 'bottomRight',
                    timeout: 1500
                  })
                } else {
                  this.seen = !this.seen
                  console.log(response.data.message)
                  iziToast.error({
                    title: 'Failed',
                    message: 'Something worng!',
                    position: 'bottomRight',
                    timeout: 1500
                  })
                }
              })
              .catch(function(error) {
                console.log(error)
              })
          }
        )
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.image-box {
  position: relative;
  width: 100%;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-box:hover .image {
  opacity: 0.3;
}

.image-box:hover .middle {
  opacity: 1;
}
</style>