<template>
  <div id="group-member-list">
    <v-card-actions>
       <v-list>
          <template v-for="(item, index) in listMember">
            <v-list-tile avatar @click="" :key="item.title">
              <v-list-tile-avatar>
                <img :src="item.picture">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title 
                  class="caption blue--text" 
                  v-html="`${item.firstname} ${item.lastname}`"
                  >
                </v-list-tile-title>
                <v-list-tile-sub-title class="caption green--text" v-html="`${item.position} <span class='grey--text text--lighten-1'>${item.province || 'ไม่ได้ระบุ'}, ${item.country || 'ไม่ได้ระบุ'}</span>`"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
    </v-card-actions>
  </div>
</template>

<script>
export default {
  name: 'group-member-list',
  data() {
    return {
      listMember: []
    }
  },
  created() {
    this.getGroupMemberList()
  },
  methods: {
    async getGroupMemberList() {
      const response = await axios.get(
        'https://api.farmerspace.co/marketplace/getGroupMemberList/' + this.$route.params.groupid
      )
      if (response.status === 200) {
        this.listMember = response.data
      }
    }
  }
}
</script>

<style lang="scss" scoped>
img{
    object-fit: cover;
  border-radius: 50%;
}
</style>