<template>
  <div id="productivity-search">
    <v-container grid-list-lg class="panel-fixed">
      <v-layout row wrap>
        <v-flex xs12>
          <div class="headline mb-2">Your Products</div>
          <v-text-field
            solo
            label=""
            v-model="searchYourProduct"
            id="search-product"
            autocomplete="off"
          ></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-tabs :scrollable="false">
            <!-- Header Tab -->
            <v-tabs-bar>
              <v-tabs-slider class="green darken-3"></v-tabs-slider>
              <!-- All Tab -->
              <v-tabs-item :key="tabs[0]" :href="'#' + tabs[0]">
                <div class="caption">{{ tabs[0] }}</div>
              </v-tabs-item>
              <!-- Active Tab -->
              <v-tabs-item :key="tabs[1]" :href="'#' + tabs[1]">
                <div class="caption">{{ tabs[1] }}</div>
              </v-tabs-item>
              <!-- Inactive Tab -->
              <v-tabs-item :key="tabs[2]" :href="'#' + tabs[2]">
                <div class="caption">{{ tabs[2] }}</div>
              </v-tabs-item>
            </v-tabs-bar>
            <!-- Content Tab -->
            <v-tabs-items>
              <v-tabs-content v-for="item in tabs" :key="item" :id="item">
                <!-- All Detail -->
                <div v-if="item == 'All'">
                  <v-layout v-if="productivityAll[0]" row wrap>
                    <v-flex xs12>
                      <v-data-table
                        :headers="headers"
                        :items="productivityAll"
                        class="elevation-0"
                        :search="searchYourProduct"
                        hide-actions
                        hide-headers
                        >
                        <template slot="items" slot-scope="props">
                          <v-card class="card-productivity my-2 elevation-0" 
                          :style="checkInactiveCard(props.item.cropdate)">
                            <v-container
                              fluid
                              grid-list-xs
                              style="min-height: 0;"
                              @click="onPickProductivity(props.item)"
                            >
                              <v-layout row wrap align-center justify-center>
                                <v-flex class="pa-0" xs5 text-xs-center>
                                  <v-card-media :src="props.item.mainpictureurl" height="64px" contain>
                                  </v-card-media>
                                </v-flex>
                                <v-flex class="pa-0 pl-2" xs6 text-xs-left>
                                  <!-- Type of productivit -->
                                  <v-card-title class="px-0">
                                    <div>
                                      <div :class="$_generateFontColor(props.item.color)" style="font-size:9px;">
                                      <v-icon class="icon-type" :color="props.item.color">fiber_manual_record</v-icon>
                                        {{ props.item.nametha }}
                                      </div>  
                                      <div class="py-0 subheading">
                                        {{ props.item.productname }}
                                      </div> 
                                      <div class="font-plandate">
                                        เริ่ม {{ props.item.plantdate }}
                                      </div> 
                                    </div>
                                  </v-card-title>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card>
                        </template>
                        <div slot="no-results" :value="true" color="error" icon="warning">
                          ไม่พบผลผลิต "{{ searchYourProduct }}" ที่คุณค้นหา
                        </div>
                      </v-data-table>
                    </v-flex>
                  </v-layout>
                </div>
                <!-- Active Detail -->
                <div v-else-if="item == 'Active'">
                  <v-layout v-if="productivityActive[0]" row wrap>
                    <v-flex xs12>
                      <v-data-table
                        :headers="headers"
                        :items="productivityActive"
                        class="elevation-0"
                        :search="searchYourProduct"
                        hide-actions
                        hide-headers
                      >
                        <template slot="items" slot-scope="props">
                          <v-card class="card-productivity my-2 elevation-0">
                            <v-container
                              fluid
                              grid-list-xs
                              style="min-height: 0;"
                              @click="onPickProductivity(props.item)"
                            >
                              <v-layout row wrap align-center justify-center>
                                <v-flex class="pa-0" xs5 text-xs-center>
                                  <v-card-media :src="props.item.mainpictureurl" height="64px" contain>
                                  </v-card-media>
                                </v-flex>
                                <v-flex class="pa-0 pl-2" xs6 text-xs-left>
                                  <!-- Type of productivit -->
                                  <v-card-title class="px-0">
                                    <div>
                                      <div :class="$_generateFontColor(props.item.color)" style="font-size:9px;">
                                      <v-icon class="icon-type" :color="props.item.color">fiber_manual_record</v-icon>
                                        {{ props.item.nametha }}
                                      </div>  
                                      <div class="py-0 subheading">
                                        {{ props.item.productname }}
                                      </div> 
                                      <div class="font-plandate">
                                        เริ่ม {{ props.item.plantdate }}
                                      </div> 
                                    </div>
                                  </v-card-title>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card>
                        </template>
                        <div slot="no-results" :value="true" color="error" icon="warning">
                          ไม่พบผลผลิต "{{ searchYourProduct }}" ที่คุณค้นหา
                        </div>
                      </v-data-table>
                    </v-flex>
                  </v-layout>
                </div>
                <!-- Inactive Detail -->
                <div v-else-if="item == 'Inactive'">
                   <v-layout v-if="productivityInactive[0]" row wrap>
                    <v-flex xs12>
                      <v-data-table
                        :headers="headers"
                        :items="productivityInactive"
                        class="elevation-0"
                        :search="searchYourProduct"
                        hide-actions
                        hide-headers
                      >
                        <template slot="items" slot-scope="props">
                          <v-card class="card-productivity my-2 elevation-0">
                            <v-container
                              fluid
                              grid-list-xs
                              style="min-height: 0;"
                              @click="onPickProductivity(props.item)"
                            >
                              <v-layout row wrap align-center justify-center>
                                <v-flex class="pa-0" xs5 text-xs-center>
                                  <v-card-media :src="props.item.mainpictureurl" height="64px" contain>
                                  </v-card-media>
                                </v-flex>
                                <v-flex class="pa-0 pl-2" xs6 text-xs-left>
                                  <!-- Type of productivit -->
                                  <v-card-title class="px-0">
                                    <div>
                                      <div :class="$_generateFontColor(props.item.color)" style="font-size:9px;">
                                      <v-icon class="icon-type" :color="props.item.color">fiber_manual_record</v-icon>
                                        {{ props.item.nametha }}
                                      </div>  
                                      <div class="py-0 subheading">
                                        {{ props.item.productname }}
                                      </div> 
                                      <div class="font-plandate">
                                        เริ่ม {{ props.item.plantdate }}
                                      </div> 
                                    </div>
                                  </v-card-title>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card>
                        </template>
                        <div slot="no-results" :value="true" color="error" icon="warning">
                          ไม่พบผลผลิต "{{ searchYourProduct }}" ที่คุณค้นหา
                        </div>
                      </v-data-table>
                    </v-flex>
                  </v-layout>
                </div>
              </v-tabs-content>
            </v-tabs-items>
          </v-tabs>
        </v-flex>        
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'productivity-search',
  data() {
    return {
      searchYourProduct: '',
      tabs: ['All', 'Active', 'Inactive'],
      productivityAll: [],
      productivityActive: [],
      productivityInactive: [],
      headers: [
        {
          text: 'Product Name',
          align: 'left',
          sortable: false,
          value: 'productname'
        },
        {
          text: 'Variety Name',
          align: 'left',
          sortable: false,
          value: 'varietyname'
        }
      ]
    }
  },
  created() {
    this.getProductivity()
  },
  methods: {
    onPickProductivity(item){
      this.$emit('pickProductivity', item)
    },
    $_generateFontColor(color) {
      let fontColor = color.substr(0, color.indexOf(' '))
      fontColor == '' ? (fontColor = color) : fontColor
      return `${fontColor}--text`
    },
    checkInactiveCard(cropdate) {
      if (cropdate > this.getNowDate()) {
        return 'opacity: 1.0;'
      } else {
        return 'opacity: 0.1;'
      }
    },
    async getProductivity() {
      this.productivityActive = []
      this.productivityInactive = []
      try {
        const response = await axios.get(
          'https://api.farmerspace.co/marketplace/getProductivity/' + this.$session.get('userid')
        )
        if (response.status === 200) {
          // set all item
          this.productivityAll = response.data
          response.data.forEach(element => {
            if (element.cropdate > this.getNowDate()) {
              this.productivityActive.push(element)
            } else {
              this.productivityInactive.push(element)
            }
          })
        }
      } catch (e) {
        console.log(e)
      }
    },
    getNowDate: function() {
      var myDate = new Date()
      var month = ('0' + (myDate.getMonth() + 1)).slice(-2)
      var date = ('0' + myDate.getDate()).slice(-2)
      var year = myDate.getFullYear()
      var formattedDate = year + '-' + month + '-' + date
      return formattedDate
    }
  }
}
</script>

<style lang="scss" scoped>
.card-productivity {
  cursor: pointer;
  border: 3px solid #f2f2f2;
}
.input-group.input-group--solo {
  border-radius: 18px !important;
  min-height: 34px;
  height: 34px;
  box-shadow: none;
  background-color: #f2f2f2;
}
.tabs__item .tabs__item--active {
  padding: 0px;
}
.icon-type {
  font-size: 9px;
}
.font-plandate {
  font-size: 9px;
}
</style>