<template>
  <div id="productivity-info">
    <v-card class="card-productivity my-2 elevation-0" color="transparent">
      <v-container fluid grid-list-xl style="min-height: 0;">
        <v-layout row wrap align-center justify-center>
          <v-flex class="pa-0 pl-2" xs10 offset-xs2 text-xs-left>
            <!-- Type of productivit -->
            <v-card-title class="px-0">
              <div>
                <div :class="$_generateFontColor(productivity.color)" style="font-size:12px;">
                <v-icon class="icon-type" :color="productivity.color">fiber_manual_record</v-icon>
                  {{ productivity.nametha }}
                </div>  
                <div class="py-2 display-1">
                  {{ productivity.productname }}
                </div> 
                <div class="subheading">
                  <!-- เริ่ม {{ productivity.plantdate }} -->
                </div> 
              </div>
            </v-card-title>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import ProductivitySearch from './ProductivitySearch'

export default {
  name: 'productivity-info',
  mixins: [ProductivitySearch],
  data() {
    return {}
  },
  props: {
    productivity: {
      type: Object,
      required: false,
      validate: function(value) {
        return ['syncing', 'synced', 'version-conflict', 'error'].indexOf(value) !== -1
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.icon-type {
  font-size: 9px;
}
.font-plandate {
  font-size: 9px;
}
</style>