<template>
  <div class="dashboard">
    <!-- Search Bar -->
    <!-- <v-container grid-list-xl class="px-5 mt-3">
      <v-layout row wrap align-center>
        <v-flex xs12 sm6>
          <autocomplete
            ref="autocomplete"
            placeholder="ค้นหา"
            :source="states"
            input-class="search-input input-group--hide-details input-group--placeholder input-group--text-field input-group--single-line theme--light"
            @selected="(e) => this.onSubmit('selected', e)"
            @enter="(e) => this.onSubmit('enter', e)"
            >
          </autocomplete>
        </v-flex>
      </v-layout>
    </v-container> -->
    <!-- Full width welcome box -->
    <v-container fluid grid-list-xl class="px-5 pt-5 welcome-box" v-for="user in userInfo" :key="user.userid">
      <v-layout row wrap align-center>
        <v-flex xs12 sm6>
          <autocomplete
            ref="autocomplete"
            placeholder="ค้นหา"
            :source="states"
            input-class="search-input input-group--hide-details input-group--placeholder input-group--text-field input-group--single-line theme--light"
            @selected="(e) => this.onSubmit('selected', e)"
            @enter="(e) => this.onSubmit('enter', e)"
            >
          </autocomplete>
        </v-flex>
        <v-flex xs12 sm6>
        </v-flex>        
        <v-flex xs12 sm6 text-xs-left>
          <!-- <div class="headline white--text">Welcome, {{user.firstname}}</div> -->
          <!-- <div class="caption mt-2 grey--text text--lighten-4">Pellentesque in ipsum id orci porta dapibus.</div> -->
        </v-flex>
        <v-flex xs12 sm6 text-xs-right>
          <!-- <div class="caption grey--text text--lighten-4">Pellentesque in ipsum id orci porta dapibus.</div> -->
          <!-- <div class="headline white--text mt-2">{{ | nowDate}}</div> -->
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Ads & Calender -->
     <v-container grid-list-xl class="px-5 mt-2">
      <v-layout row wrap>
        <v-flex xs12 sm8 d-flex>
          <v-carousel lazy hide-controls hide-delimiters interval="5000">
            <v-carousel-item v-for="(item,i) in images" :src="item" :key="i"></v-carousel-item>
          </v-carousel>
        </v-flex>
        <v-flex xs12 sm4 d-flex>
          <v-calendar :attributes='attributes' :theme-styles='themeStyles'></v-calendar>
        </v-flex>        
      </v-layout>
    </v-container>
    <welcome-interest-card v-if="firstLogin"></welcome-interest-card>
  </div>
</template>

<script>
import Autocomplete from 'vuejs-auto-complete'
import Welcome from '@/components/dialogs/Welcome'
import TheNavbar from './TheNavbar'
import VCalendar from 'v-calendar'

export default {
  name: 'dashboard',
  mixins: [TheNavbar],
  components: {
    autocomplete: Autocomplete,
    'welcome-interest-card': Welcome
  },
  data() {
    return {
      // Search bar
      keys: '',
      states: [],
      alert: true,
      firstLogin: false,
      // ads & calendar
      images: [
        'static/login_images/01.jpg',
        'static/login_images/02.jpg',
        'static/login_images/03.jpg',
        'static/login_images/04.jpg',
        'static/login_images/05.jpg',
        'static/login_images/06.jpg'
      ],
      attributes: [
        {
          highlight: {
            backgroundColor: '#ff8080', // Red background
            borderColor: '#ff6666',
            borderWidth: '2px',
            borderStyle: 'solid'
          },
          contentStyle: {
            color: 'white' // White text
          },
          dates: [
            {
              start: new Date(2018, 4, 1), // Jan 1st
              end: new Date(2018, 4, 4) // - Jan 4th
            },
            {
              start: new Date(2018, 4, 1), // Starting Jan 1st
              ordinalWeekdays: { [-1]: 7 } // On last Sat of every month
              // end: null,                 // Infinite end date is implied
            },
            new Date(2018, 1, 6), // Feb 6th
            new Date(2018, 1, 23) // Feb 23rd
          ],
          popover: {
            label: 'สีแดง'
          }
        },
        {
          highlight: {
            backgroundColor: '#9f80ff', // Purple background
            borderColor: '#8c66ff',
            borderWidth: '2px'
          },
          contentStyle: {
            color: 'white' // White text
          },
          dates: [
            new Date(2018, 4, 1), // Jan 1st
            new Date(2018, 4, 10), // Jan 10th
            new Date(2018, 4, 12), // Jan 12th
            {
              start: new Date(2018, 5, 22), // Feb 22nd
              end: new Date(2018, 5, 26) // - Feb 26th
            }
          ],
          popover: {
            label: 'สีม่วงอ่อน'
          }
        },
        {
          highlight: {
            backgroundColor: '#66b3cc', // Turquoise background
            borderColor: '#53a9c6',
            borderWidth: '2px',
            borderRadius: '5px'
          },
          contentStyle: {
            color: 'white' // White text
          },
          dates: [
            new Date(2018, 4, 14), // Jan 14th
            {
              start: new Date(2018, 4, 24), // Jan 24th
              end: new Date(2018, 4, 25) // - Jan 25th
            },
            new Date(2018, 4, 28), // Jan 28th
            new Date(2018, 5, 4), // Feb 4th
            {
              start: new Date(2018, 5, 16), // Feb 16th
              end: new Date(2018, 5, 17) // - Feb 17th
            }
          ],
          popover: {
            label: 'สีเขียวอ่อนมาก'
          }
        }
      ],
      themeStyles: {
        wrapper: {
          backgroundColor: '#ffffff', 
          border: '1px solid #dadada',
          borderRadius: '0px',
        }
      }
    }
  },
  created() {
    this.getUserCountLogin()
    this.getProduct()
  },
  methods: {
    onSubmit(condition, item) {
      switch (condition) {
        case 'selected':
          this.keys = item.value
          if (this.keys !== '') {
            axios
              .get('https://api.farmerspace.co/marketplace/searchLog/' + this.keys)
              .then(response => {
                this.$router.push({ name: 'TheSearch', params: { productname: this.keys } })
              })
              .catch(function(error) {
                console.log(error)
              })
          } else {
            this.$router.push({ path: '/' })
          }
          break

        case 'enter':
          this.states.forEach(element => {
            if (item == element.name) {
              axios
                .get('https://api.farmerspace.co/marketplace/searchLog/' + this.productname)
                .then(response => {
                  this.$router.push({ name: 'TheSearch', params: { productname: element.id } })
                })
                .catch(function(error) {
                  console.log(error)
                })
            }
          })

          break

        default:
          break
      }
      this.$refs.autocomplete.clearValues()
    },
    getProduct() {
      axios
        .get('https://api.techfarmth.com/intranet-portal/getProduct')
        .then(response => {
          // this.products = response.data.slice(0, 3)
          response.data.ProductsTHA.forEach(element => {
            this.states.push({ id: element.productid, name: element.productname })
          })
          // this.states = response.data.ProductsTHA
          // console.log(response.status); // ex.: 200
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    async getUserCountLogin() {
      try {
        const response = await axios.get(
          'https://api.farmerspace.co/marketplace/getUserCountLogin/' + this.$session.get('userid')
        )
        if (response.data[0].countlogin == 0) {
          this.firstLogin = true
        } else {
          this.firstLogin = false
        }
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.welcome-box {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
</style>
