<template>
  <div id="group">
    <v-container grid-list-xl>
      <v-layout row wrap text-xs-center justify-center> <!--  align-center -->
        <v-flex xs12 sm6 md4>
          
        </v-flex>        
        <v-flex xs12 sm6 md4>
          
        </v-flex>        
        <v-flex xs12 sm6 md4>
          <v-card id="group-card-info" class="px-4" v-for="groupInfo in groupInfos" :key="groupInfos.groupid">
            <group-picture :groupInfo="groupInfos"></group-picture>
            <v-card-title primary-title>
              <v-spacer></v-spacer>
                <div>
                  <h3 class="headline"> {{groupInfo.name}} </h3>
                  <div class="caption"> {{ groupInfo.amphoe }}, {{ groupInfo.province}} </div>
                </div>
              <v-spacer></v-spacer>
            </v-card-title>
            <group-description :groupInfo="groupInfos"></group-description>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap text-xs-center align-center justify-center> <!--  align-center -->
        <v-flex xs12 sm6 md4>
          
        </v-flex>        
        <v-flex xs12 sm6 md4>
          
        </v-flex>        
        <v-flex xs12 sm6 md4>
          <v-card id="group-card-member" class="px-0" v-for="groupInfo in groupInfos" :key="groupInfos.groupid">
            <v-card-title primary-title>
              <h3 class="subheading">สมาชิกทั้งหมด</h3>
              <v-spacer></v-spacer>
              <v-icon right color="green darken-3" style="cursor:pointer" @click="dialogInviteMember = !dialogInviteMember">add_circle</v-icon>
            </v-card-title>
            <group-member-list></group-member-list>
            <v-btn v-if="groupInfo.position=='member'" flat color="red" @click="onLeaveGroup()">ออกจากกลุ่ม</v-btn>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialog Item -->
    <v-dialog v-model="dialogInviteMember" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">เพิ่มสมาชิก</span>
          <v-spacer></v-spacer>
          <v-btn left color="red" flat dark @click.native="dialogInviteMember = !dialogInviteMember">ออก</v-btn>
          <!-- <v-icon>close</v-icon> -->
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap align-center>
              <!-- Search By Phone -->
              <v-flex xs12>
                <v-text-field
                  v-model="searchForInvite"
                  label="ค้นหาจากเบอร์โทรศัพท์"
                  :error-messages="errors.collect('phone')"
                  v-validate="'required|min:10|'"
                  hint="กดปุ่ม Enter เพื่อเริ่มค้นหา"
                  data-vv-name="phone"
                  append-icon="phone"
                  mask="### ### ####"
                  required
                  autofocus
                  @keyup.enter="searchUser"
                  :loading="searchUserLoading"
                  >
                  <!-- @blur="searchUser" -->
                </v-text-field>
              </v-flex>
              <!-- Search reult -->              
              <v-flex xs12 v-if="searchResult" v-for="item in searchResult" key="search-result-found">
                   <v-layout row wrap text-xs-center align-center>
                    <!-- user picture -->
                    <v-flex xs12 md3>
                      <img
                        class="picture-profile"
                        width="86" height="86"
                        :src="item.picture"
                        :alt="item.firstname"
                        v-if="item.picture"
                        key="search-result-picture"
                      >
                      <v-icon x-large v-else key="search-result-picture">account_circle</v-icon>
                    </v-flex>
                    <!-- user info -->
                    <v-flex xs12 md6>
                      <div class="body-1">
                        {{item.firstname}} {{item.lastname}}
                      </div>
                    </v-flex>
                    <!-- invite zone -->
                    <v-flex xs12 md3>
                      <div v-if="$session.get('userid') == item.userid" key="search-result-me">
                        เข้าร่วมแล้ว <br> (คุณเอง)
                      </div>
                      <div v-else key="search-result-me">
                        <v-btn v-if="alreadyInvite==false" dark color="green darken-3" @click="onInviteToGroup(item.userid)">เชิญ</v-btn>
                        <v-btn v-else disabled>{{ inviteMessage }}</v-btn>
                      </div>
                    </v-flex>
                   </v-layout>
              </v-flex> 
              <v-flex xs12 v-if="searchResult === null" key="search-result-notfound">
                <div class="body-1 red--text text-xs-center">ไม่พบเบอร์โทรศัพท์ของสมาชิก</div>
              </v-flex>             
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>
import GroupPicture from '@/components/groups/cards/GroupPicture'
import GroupDescription from '@/components/groups/cards/GroupDescription'
import GroupMemberList from '@/components/groups/cards/GroupMemberList'

export default {
  name: 'group',
  components: {
    'group-picture': GroupPicture,
    'group-description': GroupDescription,
    'group-member-list': GroupMemberList
  },
  data() {
    return {
      groupInfos: [],
      alreadyInvite: false,
      // Dialog Invite Group
      dialogInviteMember: false,
      searchForInvite: '',
      searchResult: '',
      searchUserLoading: false,
      inviteMessage: ''
    }
  },
  watch: {
    $route() {
      this.getGroupByID()
    },
    dialogInviteMember() {
      this.searchResult = ''
      this.searchForInvite = ''
    }
  },
  created() {
    this.getGroupByID()
  },
  methods: {
    async getGroupByID() {
      try {
        const response = await axios.get(
          'https://api.farmerspace.co/marketplace/getGroupByID/' +
            this.$route.params.groupid +
            '/' +
            this.$session.get('userid')
        )
        if (response.status == 200) {
          if (response.data.length > 0) {
            this.groupInfos = response.data
          } else {
            this.$router.push('/dashboard')
          }
        }
      } catch (e) {
        console.log(e) // 💩
      }
    },
    searchUser() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          try {
            this.searchUserLoading = true
            const responseUser = await axios.get(
              'https://api.farmerspace.co/marketplace/getUserInGroup/' + this.$route.params.groupid
            )
            const responseSearch = await axios.get(
              'https://api.farmerspace.co/marketplace/searchUserBy/phone/' + this.searchForInvite
            )
            setTimeout(() => {
              if (responseSearch.data.length === 0) {
                this.searchResult = null
              } else {
                this.searchResult = responseSearch.data
                // check user already invite
                responseUser.data.forEach(element => {
                  if (element.userid == this.searchResult[0].userid) {
                    if (element.joindate === null) {
                      this.inviteMessage = 'เชิญแล้ว'
                    } else {
                      this.inviteMessage = 'เข้าร่วมแล้ว'
                    }
                    this.alreadyInvite = true // cant invite
                    this.searchUserLoading = false
                  } else {
                    // not in group
                    this.alreadyInvite = false // can invite
                    this.searchUserLoading = false
                  }
                })
              }
            }, 1000)
          } catch (e) {
            console.log(e) // 💩
          }
        }
      })
    },
    async onInviteToGroup(userid) {
      try {
        const data = {
          userid: userid,
          groupid: this.$route.params.groupid,
          position: 'member'
        }
        const response = await axios.post(
          'https://api.farmerspace.co/marketplace/insertUserToGroup',
          data
        )
        this.alreadyInvite = !this.alreadyInvite
        this.inviteMessage = 'เชิญแล้ว'
      } catch (e) {
        console.log(e) // 💩
      }
    },
    onLeaveGroup() {
      swal({
        title: 'ออกจากกลุ่ม ?',
        width: '16rem',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#000',
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก',
        buttonsStyling: true,
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          this.updateUserLeaveGroup()
        } else if (result.dismiss === swal.DismissReason.cancel) {
        }
      })
    },
    async updateUserLeaveGroup() {
      try {
        const data = {
          groupid: this.$route.params.groupid,
          userid: this.$session.get('userid')
        }
        const response = await axios.put(
          'https://api.farmerspace.co/marketplace/updateUserLeaveGroup',
          data
        )
        if (response.status === 200) {
          location.reload()
          this.$router.push('/dashboard')
        }
      } catch (e) {
        console.log(e) // 💩
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#group-card-info {
  border-radius: 0px;
  padding-top: 20px;
}
#group-card-member {
  border-radius: 0px;
}
.textarea-group-des {
  font-size: 12px !important;
}
.picture-profile {
  object-fit: cover;
  border-radius: 50%;
}
</style>