<template>
  <div id="notification">
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs2 sm1 text-xs-right class="pr-0">
          <v-icon x-large color="green lighten-1">notifications_none</v-icon>
        </v-flex>        
        <v-flex xs10 sm11>
          <div class="display-1">Notification</div>
          <div class="caption">มีโอกาสมากมายรอคุณอยู่ กรุณาตรวจสอบการแจ้งเตือนอย่างสม่ำเสมอ</div>
        </v-flex>
      </v-layout>
      <!-- Notification Zone -->
      <v-layout row wrap align-center class="ma-4">
        <v-flex xs12>
          <!-- Notice Group -->
         <notice-group></notice-group>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import NoticeGroup from '@/components/notifications/NoticeGroup'
export default {
  name: 'notification',
  components:{
    'notice-group': NoticeGroup
  },
  data() {
    return {
    
    }
  },
  created() {
    // this.notification = setInterval(this.getGroupNotifications, 10000)
  },
  beforeDestroy() {
    // clearInterval(this.notification)
  },
  methods: {
   
  }
}
</script>

<style lang="scss" scoped>

</style>