<template>
  <div class="productivity">
    <v-container grid-list-xs>
      <v-layout row wrap class="productivity-background" :style="{ backgroundImage: 'url(' + showProductivityImage + ')' }">
        <v-flex xs12 sm6 md3 style="border-right:1px solid #f2f2f2">
          <productivity-search @pickProductivity="pickedProductivity = $event"></productivity-search>
        </v-flex>
        <v-flex xs12 sm6 md5>
          <productivity-info v-if="Object.keys(pickedProductivity).length !== 0" :productivity="pickedProductivity"></productivity-info>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <!-- <v-card class="mb-2 elevation-0">
            <v-card-title primary-title>
              <h3 class="headline">ผลผลิตของคุณ</h3>
              <v-spacer></v-spacer>
               <v-btn  dark color="green darken-3" @click.stop="dialogItem = true">
                <v-icon class="mr-2">add</v-icon>
                  เพิ่มผลผลิต
              </v-btn>
            </v-card-title> 
            <v-container fliud grid-list-lg>
              <v-layout row wrap align-center>
                <v-flex xs12 sm6 md4 :ref="`product-box${item.mpproductid}`" v-for="item in items" :key="`product-box${item.mpproductid}`">
                  <v-card class="product-hover elevation-0">
                    <v-card-text @click="viewProduct(item.mpproductid)">
                      <v-layout row wrap align-center>
                        <v-flex xs3 sm3 md3>
                          <v-card-media :src="item.icontype" height="50px" contain  style="cursor:pointer">
                          </v-card-media>
                        </v-flex>
                        <v-flex xs7 sm7 md7>
                          <h5 class="title mb-0"  style="cursor:pointer">
                            {{item.productid}}
                          </h5>
                          <div class="caption mb-0">
                            {{item.varietyid}}
                          </div>
                          <div class="caption">
                            {{item.slvid}}
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card> -->
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Dialog Item -->
    <v-dialog v-model="dialogItem" fullscreen transition="dialog-bottom-transition" :overlay="false" scrollable>
      <v-card tile>
        <v-toolbar card dark color="green darken-3">
          <v-btn icon @click.native="dialogItem = false" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>สร้างผลผลิตของคุณ</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat @click.native="doSubmit" :loading="dialogLoading">บันทึกข้อมูล</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex xs12>
                <!-- Type Name -->
                <v-select 
                  :items="types" 
                  v-model="formData.typeid" 
                  label="ประเภท" 
                  item-text="nametha" 
                  item-value="typeid" 
                  v-validate="'required'" 
                  :error-messages="errors.collect('typeid')" 
                  data-vv-name="typeid">
                </v-select>
              </v-flex>
              <v-flex xs12>
                <!-- Product Name -->
                <v-select
                  v-if="formData.typeid"
                  label="ชื่อผลผลิต"
                  autocomplete
                  single-line
                  item-text="productname"
                  item-value="productid"
                  :items="products"
                  v-model="formData.productid"
                  v-validate="'required'" 
                  :error-messages="errors.collect('productid')"
                  data-vv-name="productid"
                  >
                </v-select>
              </v-flex>
              <v-flex xs12 v-if="formData.productid == 'PZZZZZZZ'">
                <!-- Orther Product -->
                <v-text-field
                  v-model="formData.otherproduct" 
                  label="ชื่อผลผลิต (อื่นๆ)" 
                  v-validate="'required|max:200'" 
                  :counter="200"
                  :error-messages="errors.collect('otherproduct')" 
                  data-vv-name="otherproduct">
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Variety Name -->
                 <v-select
                  v-if="formData.productid"
                  label="สายพันธุ์"
                  autocomplete
                  single-line
                  item-text="varietyname"
                  item-value="varietyid"
                  :items="varietys"
                  v-model="formData.varietyid"
                  v-validate="'required'" 
                  :error-messages="errors.collect('varietyid')"
                  data-vv-name="varietyid"
                  >
                </v-select>
              </v-flex>
              <v-flex xs12 v-if="formData.varietyid == 'VZZZZZZZ'">
                <!-- Orther Variety -->
                <v-text-field
                  v-model="formData.othervariety" 
                  label="ชื่อสายพันธุ์ (อื่นๆ)" 
                  v-validate="'required|max:200'" 
                  :counter="200"
                  :error-messages="errors.collect('othervariety')" 
                  data-vv-name="othervariety">
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <!-- Plant Date -->
                <v-menu lazy :close-on-content-click="false" v-model="menuPlantDate" transition="scale-transition" offset-y full-width :nudge-right="40" max-width="290px" min-width="290px">
                  <v-text-field slot="activator" label="วันเริ่มปลูก" v-model="formData.plantdate" prepend-icon="event" readonly>
                  </v-text-field>
                  <v-date-picker v-model="formData.plantdate" no-title scrollable actions>
                    <template slot-scope="{ save, cancel }">
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                        <v-btn flat color="primary" @click="save">OK</v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12>
                <!-- Sub Level -->
                <v-select 
                  :items="subLevels" 
                  v-model="formData.slvid" 
                  label="สถานะปัจจุบัน" 
                  item-text="nametha" 
                  item-value="slvid" 
                  v-validate="'required'" 
                  :error-messages="errors.collect('slvid')" 
                  data-vv-name="slvid"
                  >
                </v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <div style="flex: 1 1 auto;" />
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ProductivitySearch from '@/components/productivitys/cards/ProductivitySearch'
import ProductivityInfo from '@/components/productivitys/cards/ProductivityInfo'

export default {
  name: 'productivity',
  components: {
    'productivity-search': ProductivitySearch,
    'productivity-info': ProductivityInfo
  },
  data() {
    return {
      formData: [],
      // Date Picker
      menuPlantDate: false,
      // Select
      subLevels: [],
      types: [],
      // Dialog Item
      dialogItem: false,
      dialogLoading: false,
      // Items
      items: [],
      products: [],
      varietys: [],
      // productivity
      pickedProductivity: []
    }
  },
  watch: {
    'formData.typeid': function() {
      this.products = []
      this.getProductByTypeID()
      this.getSubLevelByTypeID()
    },
    'formData.productid': function() {
      this.varietys = []
      this.getVarietyByProductID()
    }
  },
  computed: {
    showProductivityImage() {
      if (this.pickedProductivity.length !== 0) {
        return this.pickedProductivity.mainpictureurl
      }
    }
  },
  created() {
    this.getProductivity()
    this.getTypes()
  },
  methods: {
    getProductivity: function() {
      axios
        .get(
          'https://api.farmerspace.co/marketplace/getProductivity/' + this.$session.get('userid')
        )
        .then(response => {
          this.items = response.data
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getTypes: function() {
      axios
        .get('https://api.farmerspace.co/marketplace/getTypes')
        .then(response => {
          response.data.forEach(element => {
            this.types.push({ typeid: element.typeid, nametha: element.nametha })
          })
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getProductByTypeID: function() {
      axios
        .get('https://api.farmerspace.co/marketplace/getProductBy/typeid/' + this.formData.typeid)
        .then(response => {
          response.data.ProductsTHA.forEach(element => {
            this.products.push({ productname: element.productname, productid: element.productid })
          })
          this.products.push({ productname: 'อื่นๆ', productid: 'PZZZZZZZ' })
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getVarietyByProductID: function() {
      axios
        .get(
          'https://api.farmerspace.co/marketplace/getVarietyBy/productid/' + this.formData.productid
        )
        .then(response => {
          response.data.forEach(element => {
            this.varietys.push({ varietyname: element.varietyname, varietyid: element.varietyid })
          })
          this.varietys.push({ varietyname: 'อื่นๆ', varietyid: 'VZZZZZZZ' })
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    getSubLevelByTypeID: function() {
      let that = this
      axios
        .get(
          'https://api.farmerspace.co/marketplace/getSubLevelBy/typeid/LV02/' + this.formData.typeid
        )
        .then(function(response) {
          if (response.data) {
            that.subLevels = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    doSubmit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // Enable loading button
          this.dialogLoading = !this.dialogLoading

          let that = this
          const data = {
            typeid: this.formData.typeid,
            productid: this.formData.productid,
            varietyid: this.formData.varietyid,
            plantdate: this.formData.plantdate,
            slvid: this.formData.slvid,
            otherproduct: this.formData.otherproduct,
            othervariety: this.formData.othervariety,
            userid: this.$session.get('userid') // Only create mode
          }
          axios
            .post('https://api.farmerspace.co/marketplace/insertProductivity', data)
            .then(function(response) {
              if (response.data.message === true) {
                that.dialogLoading = !that.dialogLoading
                that.dialogItem = !that.dialogItem
                that.formData = []
                that.getProductivity()
                // Alert success login
                iziToast.success({
                  title: 'Congrats',
                  message: 'Product has been created!',
                  position: 'bottomRight'
                })
              } else {
                that.dialogLoading = !that.dialogLoading
                iziToast.warning({
                  title: response.data.message,
                  position: 'bottomRight',
                  timeout: 2500
                })
              }
            })
            .catch(function(error) {
              console.log(error)
              that.dialogLoading = !that.dialogLoading
            })
        }
      })
    },
    viewProduct: function(product) {
      this.$router.push({ name: 'ProductInfo', params: { mpproductid: product } })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h5 {
  &:hover {
    color: #2e7d32 !important;
  }
}
.product-hover {
  &:hover {
    background-color: #efefef;
    cursor: pointer;
  }
}
// .dashboard{
//   // font-family: 'DBHeavent-Light' !important;
// }
.productivity-background {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 500px auto;
}
</style>
