<template>
  <div id="product-info">
    <v-container fluid grid-list-xl class="px-2">
      <v-layout row wrap align-center v-for="item in items" :key="item.productid">
        <v-flex md3 offset-md2 text-xs-center>
          <img :src="item.icontype" height="70px"></img>
        </v-flex>
        <v-flex md6>
          <h1 class="display-1 mt-4">{{item.productname}}</h1>
          <v-layout row wrap align-center>
            <v-flex md4>
              <p class="mb-1">พันธุ์ : {{item.variety}} </p>
              <p>เริ่มปลูก : {{item.plantdate}}</p>
            </v-flex>            
            <v-flex md6>
              <p class="mb-1">สถานะ : {{item.sublevelstatus}}</p>
              <p>วันอัพเดท : {{item.updatedate}} </p>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12>
          <!-- Tabs -->
          <v-tabs fixed grow>
            <!-- Header Tabs  -->
            <v-tabs-bar>
              <v-tabs-slider class="yellow darken-1"></v-tabs-slider>
                 <v-tabs-item
                  :key="tabs[0]"
                  :href="'#' + tabs[0]"  
                  >
                  <v-icon medium class="mr-2 mt-2">event_note</v-icon>
                  บันทึกประวัติ
              </v-tabs-item>
              <v-tabs-item
                  :key="tabs[1]"
                  :href="'#' + tabs[1]"  
                  >
                  <v-icon medium class="mr-2 mt-2">history</v-icon>
                  ประวัติย้อนหลัง
              </v-tabs-item>
             
            </v-tabs-bar>
            <!-- Content Tabs  -->
            <v-tabs-items>
              <v-tabs-content v-for="tab in tabs" :key="tab" :id="tab"> 
                <!-- Tab Purchase -->
                <div v-if="tab == 'บันทึกประวัติ'">
                  <product-day :products="items"></product-day>
                </div>
                <!-- Tab Purchase History -->
                <div v-else-if="tab == 'ประวัติย้อนหลัง'">
                  <product-history></product-history>
                </div>
              </v-tabs-content>
            </v-tabs-items>
          </v-tabs>
        </v-flex>
      </v-layout>
    </v-container>
    <v-btn block large dark color="blue darken-1" class="my-0">
      <h3 class="headline">ประกาศขายผลผลิต</h3>
    </v-btn>
  </div>
</template>

<script>
import axios from 'axios' // HTTP client
import iziToast from 'iziToast' // Alert css

import ProductDay from '@/components/products/ProductDay'
import ProductHistory from '@/components/products/ProductHistory'

export default {
  name: 'product-info',
  components: {
    'product-day': ProductDay,
    'product-history': ProductHistory
  },
  data() {
    return {
      // Items
      items: [],
      mpproductid: this.$route.params.mpproductid,
      imgProduct:
        'https://firebasestorage.googleapis.com/v0/b/intranet-portal-f74de.appspot.com/o/icons_type%2FType_Vegetable.png?alt=media&token=d1d178e5-7138-4fca-aafa-e7b6bf223221',
      tabs: ['บันทึกประวัติ', 'ประวัติย้อนหลัง'],
      text:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  },
  created() {
    this.getProductBy()
  },
  watch: {
    $route() {
      this.mpproductid = this.$route.params.mpproductid
    }
    // productid: function(){
    //    axios
    //    .get('https://api.farmerspace.co/marketplace/getProductBy/id/' + this.productid)
    //     .then(response => {
    //       // this.products = response.data.slice(0, 10);
    //       this.items = response.data.message
    //       // console.log(response.status); // ex.: 200
    //     })
    //     .catch(function(error) {
    //       console.log(error)
    //     })
    // }
  },
  methods: {
    getProductBy: function() {
      axios
        .get(
          'https://api.farmerspace.co/marketplace/getProductivityBy/mpproductid/' +
            this.mpproductid +
            '/' +
            this.$session.get('userid')
        )
        .then(response => {
          // this.products = response.data.slice(0, 10);
          this.items = response.data
          // console.log(response.status); // ex.: 200
        })
        .catch(function(error) {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>