<template>
  <div class="search">
    <v-container fluid>
      <v-layout row wrap align-center>
        <v-flex xs12 class="my-4">
          <v-card v-for="product in products" :key="product.productid" class="elevation-0">
            <v-layout row wrap align-center> 
              <v-flex xs12 md6>
                <v-card-media :src="product.mainpictureurl" height="230px" contain></v-card-media>
              </v-flex>
              <v-flex xs12 md6>
                <v-card-title>
                  <div>
                    <p class="caption" color="grey lighten-3">Product Name</p>
                    <h1 class="headline mb-4">{{product.productname}}</h1>
                    <p class="caption" color="grey lighten-3">Product Description</p>
                    <div class="subheading">{{product.productdescription}}</div>
                  </div>
                </v-card-title>
              </v-flex>              
            </v-layout>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-tabs fixed grow>
            <!-- Header Tab  -->
            <v-tabs-bar>
              <v-tabs-slider color="green accent-4"></v-tabs-slider>
              <v-tabs-item
                  :key="headerTabs[0]"
                  :href="'#' + headerTabs[0]"  
                  >
                  <v-icon medium class="mr-2 mt-2">event_note</v-icon>
                  กราฟข้อมูล
              </v-tabs-item>
              <v-tabs-item
                  :key="headerTabs[1]"
                  :href="'#' + headerTabs[1]"  
                  >
                  <v-icon medium class="mr-2 mt-2">dvr</v-icon>
                  ตารางข้อมูล
              </v-tabs-item>
            </v-tabs-bar>
            <!-- Content Tab  -->
            <v-tabs-items>
              <v-tabs-content v-for="item in headerTabs" :key="item" :id="item">
                <!-- Tab Seasonal Visualize -->
                <seasonal-visualize v-if="item == 'Chart'" :productid="productid"></seasonal-visualize>
                <!-- Tab Seasonal Data -->
                <seasonal-data v-else-if="item == 'Data'" :productid="productid"></seasonal-data>
              </v-tabs-content>
            </v-tabs-items>
        </v-tabs>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
import SeasonalData from '@/components/seasonals/SeasonalData'
import SeasonalVisualize from '@/components/seasonals/SeasonalVisualize'

export default {
  name: 'search',
  components: {
    'seasonal-data': SeasonalData,
    'seasonal-visualize': SeasonalVisualize
  },
  data() {
    return {
      // Route
      productname: this.$route.query.productname,
      headers: [
        {
          text: 'ID of Product',
          align: 'left',
          value: 'productid'
        },
        { text: 'Name', align: 'left', value: 'productname' },
        { text: 'Actions', align: 'center', sortable: false }
      ],
      // Product Info
      products: [],
      // Product ID for prop to components
      productid: '',
      // Product Calendar
      headerTabs: ['Chart', 'Data']
    }
  },
  watch: {
    $route() {
      this.searchProduct()
    },
    products: function() {
      if (this.products.length > 0) {
        this.productid = this.products[0].productid
      }
    }
  },

  created: function() {
    if (!this.$route.params.productname) {
      this.$router.push({ name: 'Dashboard' })
    }
    this.searchProduct()
  },
  methods: {
    searchProduct: function() {
      axios
        .get(
          'https://api.techfarmth.com/intranet-portal/getProductBy/search/' +
            this.$route.params.productname
        )
        .then(response => {
          // this.products = response.data.slice(0, 10);
          this.products = response.data
          // console.log(response.status); // ex.: 200
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    deleteProduct: function(product) {
      swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          axios
            .delete('https://api.techfarmth.com/intranet-portal/deleteProduct/' + product.productid)
            .then(response => {
              // console.log(response.status); // ex.: 200
              swal('Deleted!', product.productname + ' has been deleted.', 'success')
            })
            .catch(e => {
              this.errors.push(e)
            })
        } else if (result.dismiss === 'cancel') {
          swal('Cancelled', 'Your imaginary file is safe :)', 'error')
        }
      })
    },
    viewProduct: function(product) {
      this.$router.push({ name: 'ProductView', params: { productid: product.productid } })
    },
    linkToAddProduct: function() {
      this.$router.push({ name: 'ProductCreate' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
td {
  vertical-align: middle;
}
</style>
