<template>
  <div id="notice-group">
    <v-card
     class="card-alert elevation-0"
     v-for="noticeGroup, index in noticeGroups" 
     :key="noticeGroup.guid"
     transition="fade-transition"
     >
     <v-container fluid grid-list-lg>
       <v-layout row wrap class="card-alert-content">
         <v-flex xs2 d-flex class="card-alert-media">
           <v-card-media>
             <v-spacer></v-spacer>
             <v-icon x-large color="white">fa-comments</v-icon>
             <v-spacer></v-spacer>
           </v-card-media>
         </v-flex>
         <v-flex xs7 d-flexS>
           <v-card-title class="card-alert-text">
             <div>
               <div class="title mb-2">คำเชิญเข้าร่วมกลุ่ม {{noticeGroup.name}}</div>
               <div class="caption">คำเชิญเข้าร่วมกลุ่ม {{noticeGroup.name}}</div>
             </div>
           </v-card-title>
         </v-flex>
         <v-flex xs3 d-flex>
           <v-card-actions class="card-alert-action">
             <v-btn flat color="green darken-1" @click="replyInviteGroup('accept', index, noticeGroup)">
               <v-icon>done</v-icon>
               เข้าร่วม
             </v-btn>
             <v-btn flat color="red" @click="replyInviteGroup('refuse', index, noticeGroup)">
               <v-icon>close</v-icon>
               ปฎิเสธ
             </v-btn>
           </v-card-actions>
         </v-flex>
       </v-layout>
     </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'notice-group',
  data() {
    return {
      noticeGroups: []
    }
  },
  created() {
    this.getGroupNotifications()
  },
  methods: {
    async getGroupNotifications() {
      try {
        const response = await axios.get(
          'https://api.farmerspace.co/marketplace/getGroupNotifications/' +
            this.$session.get('userid')
        )
        if (response.data.length > 0) {
          this.noticeGroups = response.data
        }
      } catch (error) {
        console.log(error)
      }
    },
    async replyInviteGroup(condition, index, item) {
      try {
        const data = {
          guid: item.guid,
          condition: condition
        }
        const response = await axios.put(
          'https://api.farmerspace.co/marketplace/updateUserToGroup',
          data
        )
        if (response.status === 200) {
          let linkGroup = `/group/${item.groupid}`
          console.log(response.data.message)
          if (response.data.message === true) {
            iziToast.success({
              title: `คุณได้เข้าร่วมกลุ่ม ${item.name} เรียบร้อย`,
              message: `คลิกที่ <a href="${linkGroup}">Link</a> เพื่อไปยังหน้ากลุ่ม`,
              position: 'bottomRight',
              timeout: 10000
            })
            this.$delete(this.noticeGroups, index)
          } else if (response.data.message === false) {
            iziToast.error({
              title: `คุณได้ปฏิเสธคำเชิญเข้าร่วมกลุ่ม ${item.name} เรียบร้อย`,
              position: 'bottomRight',
              timeout: 2000
            })
            this.$delete(this.noticeGroups, index)
          }
        }
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.card-alert-content {
  border: 2px solid #e2e2e2;
}
.card-alert-media {
  background-color: #2db383;
}
</style>