<template>
  <div id="color-manage">
    <v-container grid-list-xs fluid>
      <v-layout row wrap align-center>
        <!-- Search -->
        <v-flex xs12 md4 class="pt-0">
       
        </v-flex>
        <!-- add button -->
        <v-flex xs12 md8 text-xs-right>
          <v-btn dark color="green darken-3" slot="activator" @click="addItem()">
          <v-icon class="mr-1">add</v-icon>
            Color
          </v-btn>
        </v-flex>
         <!-- Data Table -->
        <v-flex xs12 class="pt-0">
          <v-data-table :headers="headers" :search="searchColor" :items="colorManages"  disable-initial-sort hide-actions class="elevation-0">
            <template slot="items" slot-scope="props">
              <tr>
                <td>{{ props.item.coloronpageid }} </td>
                <td>
                  <v-icon :color="props.item.colorcode">fiber_manual_record</v-icon>
                </td>
                <td>{{ props.item.pagename }}</td>
                <td>{{ props.item.positionname }}</td>
                <td>{{ props.item.positionsubname }}</td>
                <td class="text-xs-right">
                  <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
     <!-- Dialog Item -->
    <v-dialog v-model="dialogItem" max-width="500px">
      <v-card>
        <v-card-title>
          <span v-if="editMode == false" class="headline">Create Color on page</span>
          <span v-else class="headline">Update Color on page</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap align-center>
              <v-flex v-if="editMode === true" class="image-box" xs12 text-xs-center>
                <!-- Image url -->
                <img class="edit-image" ref="mainPicture" :src="pictureShow ? pictureShow : 'static/images/NoPicture.png'" height="200px" contain>
                <v-progress-linear :indeterminate="true" color="black" v-if="seen"></v-progress-linear>
                <div class="middle">
                  <input type="file" style="display:none" ref="fileInput" accept="image/*" @change="onFilePicked">
                  <v-btn dark class="caption" color="red" @click="onPickFile">Choose Picture</v-btn>
                </div>
              </v-flex>
              <v-flex xs12>
                <!-- Sub Position -->
                <v-select
                  :items="positionSubs"
                  item-text="name"
                  item-value="positionsubid"
                  label="Sub Position"
                  v-model="formData.positionsubid"
                  single-line
                  v-validate="'required'"
                  :error-messages="errors.collect('positionsub')" 
                  data-vv-name="positionsub" 
                  autocomplete
                  ></v-select>
                <!-- Color -->
                <v-select
                  :items="colors"
                  v-model="formData.colorcode"
                  item-text="color"
                  item-value="color"
                  label="Color"
                  autocomplete
                  >
                  <template slot="selection" slot-scope="data">
                    <v-icon :color="data.item">fiber_manual_record</v-icon>
                        {{ data.item }}
                  </template>
                    <template slot="item" slot-scope="data">
                      <template>
                        <v-list-tile-avatar>
                          <v-icon :color="data.item">fiber_manual_record</v-icon>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title v-html="data.item"></v-list-tile-title>
                        </v-list-tile-content>
                      </template>
                    </template>
                </v-select>
                <!-- Description -->
                <v-text-field 
                  multi-line
                  v-model="formData.description"
                  label="Description"
                  v-validate="'max:1000'"
                  :counter="1000"
                  :error-messages="errors.collect('description')" 
                  data-vv-name="description" 
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" dark @click.native="dialogItem = !dialogItem">Close</v-btn>
          <v-btn color="green" ref="submit" dark @click.native="doSubmit" :loading="dialogLoading">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>
import PositionSubManage from '../cards/PositionSubManage'
import mixin from '@/mixin'

export default {
  name: 'color-manage',
  mixins: [mixin, PositionSubManage],
  data() {
    return {
      // search
      searchColor: '',
      // dialog
      dialogItem: false,
      editMode: false,
      // data
      formData: [],
      // select
      colors: [],
      colorManages: [],
      // Table
       headers: [
        { text: '#ID', align: 'left', value: 'coloronpageid', width: '20' },
        { text: 'Color', align: 'left', value: 'colorcode', width: '120' },
        { text: 'Page', align: 'left', value: 'pagename', width: '150' },
        { text: 'Position', align: 'left', value: 'positionname', width: '200' },
        { text: 'Sub Position', align: 'left', value: 'positionsubname', width: '300' },
        { text: '', align: 'right', value: 'action', width: '150' }
      ],
    }
  },
  created() {
    this.$_getPositionSub()
    this.getColorManage()
    this.getColorFromPortal()
  },
  methods: {
    async getColorManage() {
      try {
        const colorManages = await axios.get(
          'https://api.farmerspace.co/marketplace/getColorManage'
        )
        if (colorManages.status === 200) {
          this.colorManages = colorManages.data
        }
      } catch (error) {
        console.log(error)
      }
    },
    async getColorFromPortal() {
      try {
        const colors = await axios.get('https://api.techfarmth.com/intranet-portal/getColor')
        if (colors.status === 200) {
          colors.data.forEach(element => {
            this.colors.push(element.colorname)
          })
        }
      } catch (error) {
        console.log(error)
      }
    },
    addItem() {
      this.editMode = false
      this.formData = []
      this.dialogItem = !this.dialogItem
    },
    editItem(item) {
      this.editMode = true
      this.formData = item
      this.dialogItem = !this.dialogItem
    },
    doSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // enable loading type
          this.dialogLoading = !this.dialogLoading
          this.editMode === true ? this.doUpdate() : this.doInsert()
        }
      })
    },
    async doInsert() {
      try {
        const data = {
          positionsubid: this.formData.positionsubid,
          description: this.formData.description,
          colorcode: this.formData.colorcode
        }
        const response = await axios.post(
          'https://api.farmerspace.co/marketplace/insertColorManage',
          data
        )
        if (response.status === 200) {
          this.dialogLoading = !this.dialogLoading
          this.dialogItem = !this.dialogItem
          this.formData = []
          this.getColorManage()
          iziToast.success({
            title: 'Congrats',
            message: 'Item created!',
            position: 'bottomRight'
          })
        }
      } catch (error) {
        console.log(error)
        this.dialogLoading = !this.dialogLoading
      }
    },
    async doUpdate() {
      const data = {
        coloronpageid: this.formData.coloronpageid, // Only in update mode
        positionsubid: this.formData.positionsubid,
        description: this.formData.description,
        colorcode: this.formData.colorcode
      }
      try {
        const response = await axios.put(
          'https://api.farmerspace.co/marketplace/updateColorManage',
          data
        )
        if (response.status === 200) {
          this.dialogLoading = !this.dialogLoading
          this.dialogItem = !this.dialogItem
          this.formData = []
          this.getColorManage()
          iziToast.info({
            title: 'Congrats',
            message: 'Item updated!',
            position: 'bottomRight'
          })
        }
      } catch (error) {
        console.log(error)
        this.dialogLoading = !this.dialogLoading
      }
    },
    deleteItem(color) {
      // Delete from DB
      swal({
        title: 'Delete',
        text: color.coloronpageid,
        width: '16rem',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        reverseButtons: true
      }).then(async result => {
        try {
          if (result.value) {
            // Delete in DB
            const response = await axios.delete(
              'https://api.farmerspace.co/marketplace/deleteColorManage/' + color.coloronpageid
            )
            if (response.status === 200) {
              const index = this.$_indexWhere(
                this.colorManages,
                item => item.coloronpageid === color.coloronpageid
              )
              this.$delete(this.colorManages, index)
              iziToast.info({
                title: 'Item deleted!',
                position: 'bottomRight'
              })
            }
          } else if (result.dismiss === 'cancel') {
          }
        } catch (error) {
          console.log(error)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>