<template>
  <div id="image-manage">
    <v-container grid-list-xs fluid>
      <v-layout row wrap align-center>
        <!-- Search -->
        <v-flex xs12 md3 class="pt-0">
          <!-- Page -->
          <v-select
            focus
            :items="pages"
            item-text="name"
            item-value="pageid"
            label="Page"
            v-model="formData.pageid"
            single-line
            @input="getImageManage(formData.pageid,'','')"
          ></v-select>
        </v-flex>
        <v-flex xs12 md3 class="pt-0">
          <!-- Position -->
          <v-select
            :items="positions"
            item-text="name"
            item-value="positionid"
            label="Position"
            v-model="formData.positionid"
            single-line
            @input="getImageManage(formData.pageid,formData.positionid,'')"
          ></v-select>
        </v-flex>
        <v-flex xs12 md3 class="pt-0">
             <!-- Sub Position -->
          <v-select
            :items="positionSubs"
            item-text="name"
            item-value="positionsubid"
            label="Sub Position"
            v-model="formData.positionsubid"
            single-line
            @input="getImageManage(formData.pageid,formData.positionid,formData.positionsubid)"
          ></v-select>
        </v-flex>
        <!-- add button -->
        <v-flex xs12 md3 text-xs-right>
          <v-btn dark color="green darken-3" slot="activator" @click="addItem()">
          <v-icon class="mr-1">add</v-icon>
            Image
          </v-btn>
        </v-flex>
        <!-- Data Table -->
        <v-flex xs12 class="pt-0">
          <v-data-table 
            :headers="headers"  
            :items="imageManages"  
            disable-initial-sort 
            hide-actions 
            class="elevation-0">
            <template slot="items" slot-scope="props">
              <tr>
                <td>{{ props.item.imageid }} </td>
                <td>
                  <img v-if="props.item.imageurl" ref="mainPicture" :src="props.item.imageurl ? props.item.imageurl : '/static/images/NoPicture.png'" height="50px" contain style="padding-top:5px">
                </td>
                <td>{{ props.item.pagename }}</td>
                <td>{{ props.item.positionname }}</td>
                <td>{{ props.item.positionsubname }}</td>
                <td class="text-xs-right">
                  <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Dialog Item -->
    <v-dialog v-model="dialogItem" max-width="500px">
      <v-card>
        <v-card-title>
          <span v-if="editMode == false" class="headline">Create Conversation</span>
          <span v-else class="headline">Update Conversation</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap align-center>
              <v-flex v-if="editMode === true" class="image-box" xs12 text-xs-center>
                <!-- Image url -->
                <img class="edit-image" ref="mainPicture" :src="pictureShow ? pictureShow : 'static/images/NoPicture.png'" height="200px" contain>
                <v-progress-linear :indeterminate="true" color="black" v-if="seen"></v-progress-linear>
                <div class="middle">
                  <input type="file" style="display:none" ref="fileInput" accept="image/*" @change="onFilePicked">
                  <v-btn dark class="caption" color="red" @click="onPickFile">Choose Picture</v-btn>
                </div>
              </v-flex>
              <v-flex xs12>
                <!-- Image Type -->
                <v-select
                  focus
                  :items="imageTypes"
                  item-text="name"
                  item-value="imagetypeid"
                  label="Type of Image"
                  v-model="formData.imagetypeid"
                  single-line
                  ></v-select>
                <!-- Page -->
                <v-select
                  focus
                  :items="pages"
                  item-text="name"
                  item-value="pageid"
                  label="Page"
                  v-model="formData.pageid"
                  single-line
                  @input="$_getPositionByPage()"
                  @mouseover="$_getPage()"
                  v-validate="'required'"
                  :error-messages="errors.collect('page')" 
                  data-vv-name="page" 
                  ></v-select>
                <!-- Position -->
                <v-select
                  :items="positions"
                  item-text="name"
                  item-value="positionid"
                  label="Position"
                  v-model="formData.positionid"
                  single-line
                  @input="$_getPositionSubByPosition()"
                  v-validate="'required'"
                  :error-messages="errors.collect('position')" 
                  data-vv-name="position" 
                  ></v-select>
                <!-- Sub Position -->
                <v-select
                  :items="positionSubs"
                  item-text="name"
                  item-value="positionsubid"
                  label="Sub Position"
                  v-model="formData.positionsubid"
                  single-line
                  v-validate="'required'"
                  :error-messages="errors.collect('positionsub')" 
                  data-vv-name="positionsub" 
                  ></v-select>
                <!-- Description -->
                <v-text-field 
                  multi-line
                  v-model="formData.description"
                  label="Description"
                  v-validate="'max:1000'"
                  :counter="1000"
                  :error-messages="errors.collect('description')" 
                  data-vv-name="description" 
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" dark @click.native="dialogItem = !dialogItem">Close</v-btn>
          <v-btn color="green" ref="submit" dark @click.native="doSubmit" :loading="dialogLoading">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>
import Conversation from '../Conversation'
import firebase from 'firebase' //Storage
import mixin from '@/mixin'

export default {
  name: 'image-manage',
  mixins: [mixin, Conversation],
  data() {
    return {
      // Search
      selectedPages: '',
      selectedPosition: '',
      selectedPositionSub: '',
      // Dialog
      dialogItem: false,
      dialogLoading: false,
      // Form data
      formData: [],
      imageManages: [],
      // check mode edit
      editMode: false,
      // Table
      headers: [
        { text: '#ID', align: 'left', value: 'imageid', width: '20' },
        { text: 'Image', align: 'left', value: 'imageurl', width: '20' },
        { text: 'Page', align: 'left', value: 'pagename', width: '150' },
        { text: 'Position', align: 'left', value: 'positionname', width: '200' },
        { text: 'Sub Position', align: 'left', value: 'positionsubname', width: '300' },
        { text: '', align: 'left', value: 'action', width: '150' }
      ],
      // image
      seen: false,
      image: '',
      downloadURL: '',
      pictureShow: '',
      // Select
      imageTypes: []
    }
  },
  created() {
    this.getImageManage()
    this.getImageType()
  },
  methods: {
    async getImageType() {
      try {
        const imageTypes = await axios.get('https://api.farmerspace.co/marketplace/getImageType')
        if (imageTypes.status === 200) {
          this.imageTypes = imageTypes.data
        }
      } catch (error) {
        console.log(error)
      }
    },
    async getImageManage(pages, position, positionsub) {
      try {
        // pages ? alert('have') : alert('dont')
        const imageManages = await axios.get(
          'https://api.farmerspace.co/marketplace/getImageManage'
        )
        if (imageManages.status === 200) {
          if (pages && !position && !positionsub) {
            this.$_getPositionByPage() // get position after select pages
            this.imageManages = imageManages.data.filter(i => i.pageid == pages)
          } else if (pages && position && !positionsub) {
            this.$_getPositionSubByPosition() // get sub position after select position
            this.imageManages = imageManages.data.filter(i => i.positionid == position)
          } else if (pages && position && positionsub) {
            this.imageManages = imageManages.data.filter(i => i.positionsubid == positionsub)
          } else {
            this.imageManages = imageManages.data
          }
        }
      } catch (error) {
        console.log(error)
      }
    },
    doSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // enable loading type
          this.dialogLoading = !this.dialogLoading
          this.editMode === true ? this.doUpdate() : this.doInsert()
        }
      })
    },
    async doInsert() {
      try {
        const data = {
          positionsubid: this.formData.positionsubid,
          description: this.formData.description,
          imagetypeid: this.formData.imagetypeid
        }
        const response = await axios.post(
          'https://api.farmerspace.co/marketplace/insertImageManage',
          data
        )
        if (response.status === 200) {
          this.dialogLoading = !this.dialogLoading
          this.dialogItem = !this.dialogItem
          this.formData = []
          this.getImageManage()
          iziToast.success({
            title: 'Congrats',
            message: 'New Image has been created!',
            position: 'bottomRight'
          })
        }
      } catch (error) {
        console.log(error)
        this.dialogLoading = !this.dialogLoading
      }
    },
    async doUpdate() {
      const data = {
        imageid: this.formData.imageid, // Only in update mode
        positionsubid: this.formData.positionsubid,
        description: this.formData.description,
        imagetypeid: this.formData.imagetypeid
      }
      try {
        const response = await axios.put(
          'https://api.farmerspace.co/marketplace/updateImageManage',
          data
        )
        if (response.status === 200) {
          this.dialogLoading = !this.dialogLoading
          this.dialogItem = !this.dialogItem
          this.formData = []
          this.getImageManage()
          iziToast.info({
            title: 'Congrats',
            message: 'Image has been updated!',
            position: 'bottomRight'
          })
        }
      } catch (error) {
        console.log(error)
        this.dialogLoading = !this.dialogLoading
      }
    },
    addItem() {
      this.editMode = false
      this.formData = []
      this.pictureShow = null
      this.dialogItem = !this.dialogItem
    },
    editItem(item) {
      this.editMode = true
      this.formData = item
      this.pictureShow = item.imageurl
      this.dialogItem = !this.dialogItem
    },
    onPickFile() {
      this.$refs.fileInput.click()
    },
    onFilePicked(event) {
      const files = event.target.files
      this.seen = !this.seen
      if (files[0] !== undefined) {
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          iziToast.error({
            title: 'Error',
            message: 'Please add a vaild file!'
          })
          return
        }
        // if (filename.slice(filename.lastIndexOf('.')) != '.png') {
        //   iziToast.error({
        //     title: 'Error',
        //     message: 'Type of file invaild!'
        //   })
        //   return
        // }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.pictureShow = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
        // Call function uploadFirebase
        this.uploadPictureToFisebase()
      } else {
        this.downloadURL = null
        this.image = null
        this.pictureShow = null
      }
    },
    uploadPictureToFisebase() {
      try {
        // Upload images to firebase and get URL
        var storageRef = firebase.storage().ref()

        // File or Blob named mountains.jpg
        var file = this.image

        var ext = file.name.slice(file.name.lastIndexOf('.'))

        // Create the file metadata
        var metadata = {
          contentType: 'image/jpeg'
        }
        var uploadFileName = `${this.formData.pageid}-${this.formData.positionid}-${
          this.formData.positionsubid
        }_${file.name}`
        // Upload file and metadata to the object 'images/mountains.jpg'
        var uploadTask = storageRef.child(`image_management/${uploadFileName}`).put(file, metadata)

        // Listen for state changes, errors, and completion of the upload.
        uploadTask.on(
          firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
          snapshot => {
            // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            var progress = snapshot.bytesTransferred / snapshot.totalBytes * 100
            console.log('Upload is ' + progress + '% done')
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log('Upload is paused')
                break
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log('Upload is running')
                break
            }
          },
          error => {
            // A full list of error codes is available at
            // https://firebase.google.com/docs/storage/web/handle-errors
            switch (error.code) {
              case 'storage/unauthorized':
                // User doesn't have permission to access the object
                break

              case 'storage/canceled':
                // User canceled the upload
                break

              case 'storage/unknown':
                // Unknown error occurred, inspect error.serverResponse
                break
            }
          },
          async () => {
            try {
              // Upload completed successfully, now we can get the download URL
              this.downloadURL = uploadTask.snapshot.downloadURL
              // update picture url to DB
              const data = {
                id: this.formData.imageid,
                picture: this.downloadURL,
                condition: 'image-manage'
              }
              const response = await axios.put(
                'https://api.farmerspace.co/marketplace/updatePicture',
                data
              )
              if (response.data.message == true && response.status === 200) {
                this.seen = !this.seen
                this.getImageManage()
                iziToast.info({
                  title: 'Congrats',
                  message: 'Image updated!',
                  position: 'bottomRight'
                })
              }
            } catch (error) {
              this.seen = !this.seen
              console.log(error)
            }
          }
        )
      } catch (error) {
        console.log(error)
      }
    },
    deleteItem(image) {
      // Delete from DB
      swal({
        title: 'Delete',
        text: image.imageid,
        width: '16rem',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        reverseButtons: true
      }).then(async result => {
        try {
          if (result.value) {
            // Delete in Firebase
            if (image.imageurl) {
              var pictureRef = firebase.storage().refFromURL(image.imageurl)
              pictureRef.delete()
            }
            // Delete in DB
            const response = await axios.delete(
              'https://api.farmerspace.co/marketplace/deleteImageManage/' + image.imageid
            )
            if (response.status === 200) {
              const index = this.$_indexWhere(
                this.imageManages,
                item => item.imageid === image.imageid
              )
              this.$delete(this.imageManages, index)
              iziToast.info({
                title: 'Image deleted!',
                position: 'bottomRight'
              })
            }
          } else if (result.dismiss === 'cancel') {
          }
        } catch (error) {
          console.log(error)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.image-box {
  position: relative;
  width: 100%;
}

.edit-image {
  object-fit: cover;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-box:hover .image {
  opacity: 0.3;
}

.image-box:hover .middle {
  opacity: 1;
}
</style>