<template>
  <div id="page-manage">
    <v-container grid-list-xs fluid>
      <v-layout row wrap align-center>
        <v-flex xs12 md4 class="pt-0">
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="searchPage"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 md8 text-xs-right>
          <v-btn dark color="green darken-3" slot="activator" @click="addItem()">
          <v-icon class="mr-1">add</v-icon>
            Page
          </v-btn>
        </v-flex>
           <!-- Data Table -->
        <v-flex xs12 class="pt-0">
          <v-data-table :headers="headers" :search="searchPage" :items="pages"  disable-initial-sort hide-actions class="elevation-0">
            <template slot="items" slot-scope="props">
              <tr>
                <td>{{ props.item.pageid }} </td>
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">
                  <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="editItem(props.item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Dialog Item -->
    <v-dialog v-model="dialogItem" max-width="500px">
      <v-card>
        <v-card-title>
          <span v-if="editMode == false" class="headline">Create Page</span>
          <span v-else class="headline">Update Page</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap align-center>
              <v-flex xs12>
                <!-- Name -->
                <v-text-field 
                  slot="input"
                  v-model="formData.name"
                  label="Page Name"
                  v-validate="'required'"
                  :error-messages="errors.collect('name')" 
                  data-vv-name="name" 
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red" dark @click.native="dialogItem = !dialogItem">Close</v-btn>
              <v-btn color="green" ref="submit" dark @click.native="doSubmit" :loading="dialogLoading">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>

<script>
import mixin from '@/mixin'

export default {
  name: 'page-manage',
  mixins: [mixin],
  data() {
    return {
      searchPage: '',
      pages: [],
      headers: [
        { text: '#ID', align: 'left', value: 'pageid', width: '20' },
        { text: 'Name', align: 'left', value: 'name', width: '200' },
        { text: '', align: 'left', value: 'action', width: '20' }
      ],
      // dialog
      dialogItem: false,
      dialogLoading: false,
      editMode: false,
      // data
      formData: []
    }
  },
  created() {
    this.$_getPage()
  },
  methods: {
    doSubmit() {
      // enable loading type
      this.dialogLoading = !this.dialogLoading
      this.editMode === true ? this.doUpdate() : this.doInsert()
    },
    addItem() {
      this.editMode = false
      this.formData = []
      this.dialogItem = !this.dialogItem
    },
    editItem(item) {
      this.editMode = true
      this.formData = item
      this.dialogItem = !this.dialogItem
    },
    async $_getPage() {
      try {
        const response = await axios.get('https://api.farmerspace.co/marketplace/getPage')
        if (response.status === 200) {
          this.pages = response.data
        }
      } catch (error) {
        console.log(error)
      }
    },
    async doInsert() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          try {
            const data = {
              name: this.formData.name
            }
            const response = await axios.post(
              'https://api.farmerspace.co/marketplace/insertPage',
              data
            )
            if (response.status === 200) {
              this.$_getPage()
              this.dialogLoading = !this.dialogLoading
              this.dialogItem = !this.dialogItem
              iziToast.success({
                title: 'Add new page into row',
                position: 'bottomRight'
              })
            }
          } catch (error) {
            console.log(error)
          }
        }
      })
    },
    async doUpdate() {
      try {
        const data = {
          pageid: this.formData.pageid,
          name: this.formData.name
        }
        const response = await axios.put('https://api.farmerspace.co/marketplace/updatePage', data)
        if (response.status === 200) {
          this.dialogLoading = !this.dialogLoading
          this.dialogItem = !this.dialogItem
          iziToast.info({
            title: 'Page updated!',
            position: 'bottomRight'
          })
        }
      } catch (error) {
        console.log(error)
      }
    },
    deleteItem(page) {
      // Delete from DB
      swal({
        title: 'Delete',
        text: page.name,
        width: '16rem',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        reverseButtons: true
      }).then(async result => {
        if (result.value) {
          try {
            const response = await axios.delete(
              'https://api.farmerspace.co/marketplace/deletePage/' + page.pageid
            )
            if (response.status === 200) {
              // delete page row
              location.reload()
              const index = this.$_indexWhere(this.pages, item => item.pageid === page.pageid)
              this.$delete(this.pages, index)
              iziToast.info({
                title: 'Page deleted!',
                position: 'bottomRight'
              })
            }
          } catch (error) {
            console.log(error)
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>