<template>
  <v-app id="app">
    <navbar v-if="statusLogin"></navbar>
    <v-content class="content">
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import VueSession from 'vue-session'
import navbar from './components/TheNavbar'

export default {
  /**
   * TODO:
   *
   *
   * FIXME:
   * - Change UI login page
   * - Add upload picture into role module
   * - Add input level into role module
   * - Change UI role page
   * - Change card create group from column to table
   * - Add create user groups
   * - Add list of user's group into navigation bar
   * - Add group page for view detail, upload group image and update group description
   * - Add function search member for invite to you group
   * - Fixed random bg image into login page
   * - Add profile page and can be update user info
   * - Change UI into UserInfo component (right bar)
   * - Change UI left menu
   * - Delete Toolbar
   * - Add Search bar float into page
   * - Add User info bar float into page
   * - Add group notification into dashboard
   * - Fixed user can accept or refuse group invite notice
   * - Fixed user group into left navbar]
   * - Change insert userid, groupid and role "admin" on GROUPS_USERS when they create new group
   * - Add show group member list into group page
   * - Add point card and active product card into navbar
   * - Add component productivity search bar into productivity page
   * - Change format login from (xxx)-xxx-xxxx to xxx xxx xxxx
   * - Add Page/Position/Sub Position pages CRUD
   * - Add Conversation pages CRUD
   * - Add Image management pages CRUD
   * - Add user's interest chip into following men in navbar left
   */
  name: 'app',
  data() {
    return {
      statusLogin: true
    }
  },
  components: {
    navbar
  },
  props: {
    source: String
  },
  created() {
    this.checkSession()
  },
  updated() {
    this.checkSession()
  },

  methods: {
    checkSession() {
      // has login
      if (this.$session.has('userid')) {
        this.statusLogin = true
      } else {
        this.statusLogin = false
      }
    }
  }
}
</script>
<style lang="scss">
/* Css Pulgin */
@import '../node_modules/iziToast/dist/css/iziToast.min.css';
@import url('https://cdn.materialdesignicons.com/2.1.99/css/materialdesignicons.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Font-Face --------------
// THSarabunNew
@font-face {
  font-family: 'THSarabunNew';
  src: url('./assets/fonts/THSarabunNew/THSarabunNew.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/THSarabunNew/THSarabunNew.woff') format('woff'),
    url('./assets/fonts/THSarabunNew/THSarabunNew.ttf') format('truetype'),
    url('./assets/fonts/THSarabunNew/THSarabunNew.svg#THSarabunNew') format('svg');
  font-weight: normal;
  font-style: normal;
}
// DBHeavent-Bold
@font-face {
  font-family: 'DBHeavent-Bold';
  src: url('./assets/fonts/DBHeavent-Bold/DBHeavent-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/DBHeavent-Bold/DBHeavent-Bold.woff') format('woff'),
    url('./assets/fonts/DBHeavent-Bold/DBHeavent-Bold.ttf') format('truetype'),
    url('./assets/fonts/DBHeavent-Bold/DBHeavent-Bold.svg#DBHeavent-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
// DBHeavent-Light
@font-face {
  font-family: 'DBHeavent-Light';
  src: url('./assets/fonts/DBHeavent-Light/DBHeavent-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/DBHeavent-Light/DBHeavent-Light.woff') format('woff'),
    url('./assets/fonts/DBHeavent-Light/DBHeavent-Light.ttf') format('truetype'),
    url('./assets/fonts/DBHeavent-Light/DBHeavent-Light.svg#DBHeavent-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

#app {
  font-family: 'Kanit';
}
.content {
  background-color: #fff;
}
::-webkit-scrollbar {
  display: none;
}
.list__tile--active {
  background-image: linear-gradient(to right, #4481eb 0%, #04befe 100%);
}
.panel-fixed {
  height: 100vh;
  overflow-y: auto;
}
</style>
