<template>
  <div id="group-create">
    <v-container grid-list-xl>
      <v-layout 
        row
        wrap 
        align-center 
        justify-center
        class=""
        >
        <v-flex xs10 offset-xs-2>
          <h1 class="display-1">
            สร้างกลุ่ม
          </h1>
          <div class="body-1 mt-2">
            เพื่อแสดงความเป็นตัวตน องค์กร ร้านค้า หรือสร้างการร่วมมือบนระบบ ที่ช่วยให้คุณจัดการได้อย่างมีประสิทธิภาพ <br> คุณสามารถใช้บริการการสร้างกลุ่มได้ฟรี เพียงแค่คุณเลือกชนิดของกลุ่ม แล้วเริ่มต้นได้เลย !
          </div>
        </v-flex>
        <v-flex xs10 offset-xs-2>
          <table>
            <tr>
              <td v-if="key < 3"  v-for="(totalGroup, key) in totalGroups" :key="totalGroup.roleid" @click="onClickGroupCard(totalGroup.rolecallname)">
                <v-card id="group-card" class="px-5">
                  <v-card-media :src="totalGroup.picture" height="100px" contain>
                  </v-card-media>
                  <v-card-title primary-title>
                    <v-spacer></v-spacer>
                      <h3 class="subheading mb-0"> {{totalGroup.rolecallname}} </h3>
                    <v-spacer></v-spacer>
                  </v-card-title>
                </v-card>
              </td>
            </tr>
             <tr>
                <td v-if="key >= 3 && key < 6"  v-for="(totalGroup, key) in totalGroups" :key="totalGroup.roleid" @click="onClickGroupCard(totalGroup.rolecallname)">
                 <v-card id="group-card" class="px-5">
                  <v-card-media :src="totalGroup.picture" height="100px" contain>
                  </v-card-media>
                  <v-card-title primary-title>
                    <v-spacer></v-spacer>
                      <h3 class="subheading mb-0"> {{totalGroup.rolecallname}} </h3>
                    <v-spacer></v-spacer>
                  </v-card-title>
                </v-card>
              </td>
            </tr>
          </table>
        </v-flex>
        <v-flex xs12 sm6 md4>
         
        </v-flex>
      </v-layout>
    </v-container>
    <!-- Dialog Item -->
     <v-dialog v-model="dialogItem" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">สร้างกลุ่ม {{typeGroup}}</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout row wrap align-center>
                <v-flex xs12>
                  <!-- Group Name -->
                  <v-text-field 
                    v-model="formData.name"
                    label="ชื่อกลุ่ม"
                    v-validate="'required'"
                    :error-messages="errors.collect('name')" 
                    data-vv-name="name" 
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <!-- Description -->
                  <v-text-field 
                    v-model="formData.description"
                    label="คำอธิบาย"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <!-- tambon -->
                  <v-text-field 
                    v-model="formData.tambon"
                    label="ตำบล"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <!-- amphoe -->
                  <v-text-field 
                    v-model="formData.amphoe"
                    label="อำเภอ"
                    v-validate="'required'"
                    :error-messages="errors.collect('amphoe')" 
                    data-vv-name="amphoe" 
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <!-- province -->
                  <v-text-field 
                    v-model="formData.province"
                    label="จังหวัด"
                    v-validate="'required'"
                    :error-messages="errors.collect('province')" 
                    data-vv-name="province" 
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <!-- zipcode -->
                  <v-text-field 
                    v-model="formData.zipcode"
                    label="รหัสไปรษณีย์"
                    v-validate="'required'"
                    :error-messages="errors.collect('zipcode')" 
                    data-vv-name="zipcode" 
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="grey darken-1" dark @click.native="dialogItem = !dialogItem">ปิด</v-btn>
                <v-btn color="light-blue" dark ref="submit"  @click.native="doSubmit" :loading="dialogLoading">เริ่มต้นใช้งาน</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> 
  </div>
</template>

<script>
export default {
  name: 'group-create',
  data() {
    return {
      totalGroups: [],
      roleid: '',
      dialogItem: false,
      dialogLoading: false,
      formData: [],
      typeGroup: '',
      resGroupID: ''
    }
  },
  created() {
    this.getRoleByLevel()
  },
  methods: {
    getRoleByLevel() {
      let that = this
      axios
        .get('https://api.farmerspace.co/marketplace/getRoleByLevel/1')
        .then(function(response) {
          if (response.status == 200) {
            that.totalGroups = response.data
          }
        })
        .catch(function(error) {
          console.log(error)
        })
    },
    onClickGroupCard(item) {
      this.dialogItem = !this.dialogItem
      this.typeGroup = item
    },
    doSubmit() {
      this.$validator.validateAll().then(async result => {
        if (result) {
          // enable loading type
          this.dialogLoading = !this.dialogLoading
          let that = this
          try {
            await this.insertGroup()
            await this.insertUserToGroup(this.resGroupID)
          } catch (e) {
            console.error(e) // 💩
            this.dialogLoading = !this.dialogLoading
          }
        }
      })
    },
    async insertGroup() {
      const data = {
        name: this.formData.name,
        description: this.formData.description,
        amphoe: this.formData.amphoe,
        tambon: this.formData.tambon,
        province: this.formData.province,
        zipcode: this.formData.zipcode,
        createby: this.$session.get('userid')
      }
      const response = await axios.post('https://api.farmerspace.co/marketplace/insertGroup', data)
      if (response.data.message === true) {
        this.getRoleByLevel()
        this.dialogLoading = !this.dialogLoading
        this.dialogItem = !this.dialogItem
        this.formData = []
        this.resGroupID = response.data.id
        iziToast.success({
          title: 'Congrats',
          message: 'New Group has been created!',
          position: 'bottomRight'
        })

        this.$router.push({ name: 'Group', params: { groupid: response.data.id } })
      } else {
        this.dialogLoading = !this.dialogLoading
        console.log(response.data.message)
      }
    },
    async insertUserToGroup(groupid) {
      const data = {
        userid: this.$session.get('userid'),
        groupid: groupid,
        position: 'admin'
      }
      const response = await axios.post(
        'https://api.farmerspace.co/marketplace/insertUserToGroup',
        data
      )
    }
  }
}
</script>

<style lang="scss" scoped>
#group-card {
  width: 270px;
  height: 270px !important;
  padding-top: 25%;
  cursor: pointer;
  box-shadow: none;
  background-color: #f6f7f9;
  &:hover {
    background-color: #eaebef;
  }
}
td {
  padding-right: 10px;
  padding-top: 10px;
}
</style>